@charset "utf-8";
/* CSS Document */

.product1 {
	margin: 0px 0;
	padding-bottom: 40px;
	float: left;
	background: url(../images/images/h1_line.jpg) 0 bottom repeat-x;
}
.profile_img {
	width: 214px;
	height: 214px;
	float: left;
	-webkit-border-radius: 107px;
	-moz-border-radius: 107px;
	border-radius: 107px;
	background-color: #ef4f45;
}
.profile_img1 {
	width: 190px;
	height: 190px;
	float: right;
	margin: 9px 8px 0 0;
	-webkit-border-radius: 99px/100px 100px 99px 99px;
	-moz-border-radius: 99px/100px 100px 99px 99px;
	border-radius: 99px/100px 100px 99px 99px;
	background: url(../images/1234.png) no-repeat left top;
	border: 3px solid #FFF;
}
.profile_img2 {
	width: 180px;
	height: 180px;
	margin: 3px 0 0 3px;
	background: none;
	border: 2px solid #e9ddd5;
	-webkit-border-radius: 99px/100px 100px 99px 99px;
	-moz-border-radius: 99px/100px 100px 99px 99px;
	border-radius: 99px/100px 100px 99px 99px;
}
.information {
	width: 430px;
	height: auto;
	float: left;
}
@font-face {
	font-family: liberationsans;
	src: url("../font/liberationsans.eot") format("eot");
	src: url("../font/liberationsans.eot?#iefix") format("eot"), url("../font/liberationsans.woff") format("woff"), url("../font/liberationsans.ttf") format("truetype"), url("../font/liberationsans.otf"), url("../font/liberationsans.svg#liberationsans") format("svg");
}
.information h1 {
	font-weight: normal;
	font-size: 25px;
	padding-bottom: 10px;
	background: url(../images/images/h1_line.jpg) 0 bottom repeat-x;
	padding-left: 8px;
	margin-bottom: 20px;
}
.table {
	width: 430px;
	padding-left: 8px;
}
.table .inform {
	border: none;
}
.table .inform tr {
	width: 426px !important;
}
.table .inform td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 26px;
	height: 26px;
	position: relative;
}
.table .inform tr .fi1 {
	width: 142px !important;
}
.table .inform tr .fi2 {
	width: 190px !important;
}
.table .inform tr .fi3 {
	width: 78px !important;
}
.table .inform tr .fi3 input {
	width: 77px;
	height: 28px;
	background: #008333;
	border: none;
	color: #fff;
	font-size: 14px;
}
.signintr {
	height: 31px;
}
.signintd {
	width: 133px !important;
	color: #000;
	font-size: 12px !important;
}
.signininput {
	width: 208px;
}
.signininput .popupinput {
	background: #fff !important;
	font-size: 12px !important;
}
.signininput .save {
	background: #008333;
	border: none;
	width: 77px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	float: right;
	margin-top: 10px
}
.bank_details {
	width: auto;
	padding-top: 20px;
	float: left;
}
.bank_details h1 {
	font-size: 20px;
	font-weight: 400;
	padding-bottom: 10px;
}
.bank_details p {
	font-size: 13px;
}
.bank_table {
	width: 486px;
	height: auto;
	margin-top: 20px;
	border-left: 1px solid #898989;
	border-right: 1px solid #898989;
	border-top: 1px solid #898989;
	float: left;
}
.left_details {
	float: left;
}
.right_details {
	float: left;
	font-size: 14px;
	height: 37px;
	line-height: 37px;
	padding-left: 25px;
	width: 272px;
}
.left_details p {
	float: left;
	font-size: 14px;
	border-right: 1px solid #898989;
	height: 37px;
	line-height: 37px;
	padding-left: 25px;
	width: 153px;
}
.right_details p {
	float: left;
	font-size: 14px;
	border: 1px;
}
.table1 {
	border-bottom: 1px solid #898989;
	float: left;
	width: 486px;
}
.edit {
	float: left;
	width: 174px;
	height: auto;
}
.edit .empty {
	height: 246px;
}
.edit .button {
	float: right;
	width: 77px;
}
.edit .button a {
	width: 77px !important;
	height: 28px !important;
	line-height: 28px;
	text-align: center;
	background: #008333;
	padding: 8px 28px;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}
.edit .button a:hover {
	background: #6bbb8c;
}
.field {
	position: relative;
}