* {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style: none;
}
img {
	border: none;
}
a {
	text-decoration: none;
	outline: none;
}
.clear {
	clear: both;
}
body {
	background: #272727;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.wapper {
	width: 100%;
}
.wapper .header {
	width: 100%;
	height: 92px;
	background: url(../images/headerbg.png) 0 0 repeat-x;
	border-bottom: 1px solid #000;
}
.wapper .header .headerinner {
	width: 964px;
	margin: 0 auto;
}
.wapper .header .logo {
	width: 225px;
	float: left;
	text-align: center;
	margin: 5px 0 0 0;
}
.wapper .header .searchbg {
	width: 184px;
	height: 26px;
	background: url(../images/searchbg.png) 0 0 no-repeat;
	float: left;
	margin: 30px 0 0 40px;
}
.wapper .header .searchbg input {
	border: none;
	background: none;
	color: #FFF;
	margin: 5px 3px 0 10px;
	float: left;
}
.wapper .header .searchbg img {
	margin: 5px 0 0 0;
	float: left;
}
.wapper .header .settings {
	width: 200px;
	float: right;
	margin: 20px 0px 0 0;
}
.wapper .header .settings .alert {
	width: 45px;
	float: left;
	height: 45px;
	position: relative;
}
.wapper .header .settings .alert img {
	margin: 18px 0 0 0;
}
.wapper .header .settings .alert .alertnum {
	position: absolute;
	top: 13px;
	left: 16px;
	color: #FFF;
	text-align: center;
	line-height: 12px;
	font-size: 10px;
	width: 14px;
	height: 14px;
	background: url(../images/alertnum.png) 0 0 no-repeat;
}
.wapper .header .settings .email {
	width: 45px;
	float: left;
	height: 45px;
	position: relative;
	background: url(../images/emailbg.png) center right no-repeat;
}
.wapper .header .settings .email img {
	margin: 18px 0 0 0;
}
.wapper .header .settings .email .alertnum {
	position: absolute;
	top: 13px;
	left: 20px;
	color: #FFF;
	text-align: center;
	line-height: 12px;
	font-size: 10px;
	width: 14px;
	height: 14px;
	background: url(../images/alertnum.png) 0 0 no-repeat;
}
.wapper .header .settings .settingsinner {
	width: 45px;
	float: left;
	height: 45px;
	position: relative;
	background: url(../images/emailbg.png) center right no-repeat;
}
.wapper .header .settings .settingsinner .settinginnerimg {
	margin: 16px 0 0 6px;
	float: left;
}
.wapper .header .settings .settingsinner .arrowdownimg {
	margin: 23px 10px 0 0;
	float: right;
}
.wapper .header .settings .profileimg {
	width: 45px;
	float: left;
	height: 45px;
	position: relative;
}
.wapper .header .settings .profileimg .settinginnerimg {
	margin: 16px 0 0 6px;
	float: left;
}
.wapper .header .settings .profileimg .arrowdownimg {
	margin: 23px 10px 0 0;
	float: right;
}
.wapper .container {
	width: 100%;
	background: url(../images/dashboard-bg.png) repeat;
}
.wapper .container .nav {
	width: 225px;
	float: left;
	height: 100%;
	background: none;
	margin: 50px 0;
}
.wapper .container .nav .menuarrow {
	float: right;
	margin: 28px -5px 15px 204px;
	position: absolute;
}
.wapper .container .nav ul li {
	width: 100%;
	height: 40px;
	font-size: 13px;
	background: url(../images/navbg.png) center bottom repeat-x;
}
.wapper .container .nav ul a {
	color: #000;
}
.wapper .container .nav ul li img {
	float: left;
	margin: 12px 6px 0 15px;
}
.wapper .container .nav ul li p {
	float: left;
	margin: 10px 0px 0 0;
}
.wapper .container .nav ul li:hover {
	background: url(../images/liactivebg.png) center right no-repeat #ef4f45;
}
.wapper .container .nav ul li.active {
	background: url(../images/liactivebg.png) center right no-repeat #ef4f45;
	color: #fff;
}
.wapper .container .containerinner {
	width: 659px;
	background: #f2f2f2;
	padding: 30px 40px;
	margin: 0 0 40px 225px;
	background-color: #fff;
	-webkit-box-shadow: -1px 0 3px rgba(4,5,5,.39);
	-moz-box-shadow: -1px 0 3px rgba(4,5,5,.39);
	box-shadow: -1px 0 3px rgba(4,5,5,.39);
}
.wapper .container .containerinner > p.heading {
	font-size: 25px;
	color: #000;
	width: 100%;
}
.wapper .container .containerinner .navinner {
	width: 800px;
	margin: 10px 0;
}
.wapper .container .containerinner .navinner .menu {
	width: 551px;
	float: left;
	height: 49px;
	background: url(../images/navinnerbd.png) repeat;
	border: none;
}
.wapper .container .containerinner .navinner .menu ul li {
	float: left;
	padding: 0 10px;
}
.wapper .container .containerinner .navinner .menu ul li a {
	color: #4d4d4d;
}
.wapper .container .containerinner .navinner .menu ul li a:hover {
	color:#ef4036;
}
.wapper .container .containerinner .navinner .menu ul li img {
	float: left;
	margin: 12px 8px 0 0;
}
.wapper .container .containerinner .navinner .menu ul li p {
	float: left;
	margin: 12px 0px 0 0;
}
.wapper .container .containerinner .navinner .date {
	width: 128px;
	height: 49px;
	float: left;
	background: url(../images/datebg.png) 0 0 no-repeat;
}
.wapper .container .containerinner .navinner .export {
	width: 128px;
	height: 49px;
	float: left;
	line-height:49px;
	text-align:center;
	background: url(../images/export.png) 0 0 no-repeat;
}
.wapper .container .containerinner .navinner .export a:hover {
	color:#000 !important;
}
.wapper .container .containerinner .navinner .date p {
	margin: 16px 0 0 45px;
	color: #FFF;
}
.wapper .container .containerinner .containerinner2 {
	width: 568px;
	background: none;
	margin: 0px 0 0px 60px;
}
.wapper .container .containerinner .containerinner2 .headerlist {
	width: 568px;
	height: 36px;
	background: #ef4f45;
}
.wapper .container .containerinner .containerinner2 .headerlist ul li {
	float: left;
	font-size: 14px;
	color: #FFF;
	font-weight: 500;
	padding: 0 0 0 20px;
	line-height: 36px;
}
.wapper .container .containerinner .containerinner2 .headerlist ul li.name {
	width: 117px;
}
.wapper .container .containerinner .containerinner2 .headerlist ul li.type {
	width: 127px;
}
.wapper .container .containerinner .containerinner2 .headerlist ul li.price {
	width: 110px;
}
.wapper .container .containerinner .containerinner2 .headerlist ul li.pric {
	width: 110px;
	float: right;
	line-height: 0;
	margin: -5px 9px 0 0;
}
.wapper .container .containerinner .containerinner2 .headerlist ul li.noofcoupons {
	width: 136px;
	text-align: center;
	padding: 0;
}
.wapper .container .containerinner .containerinner2 .headerlist ul li.enddate {
	width: 126px;
}
.wapper .container .containerinner .containerinner2 .headerlist ul li.typeofcampagin {
	width: 204px;
	padding: 0 0 0 40px;
}
.wapper .container .containerinner .containerinner2 .headerlist ul li.status {
	width: 117px;
}
.wapper .container .containerinner .containerinner2 .headerlist ul li.action {
	width: 121px;
	text-align: center;
}
.wapper .container .containerinner .containerinner2 .contlist {
	width: 568px;
}
.wapper .container .containerinner .containerinner2 .contlist ul li {
	width: 100%;
	height: 40px;
	margin: 0px 0 0 0;
}
.wapper .container .containerinner .containerinner2 .contlist ul li div {
	padding: 0 0 0 20px;
}
.wapper .container .containerinner .containerinner2 .contlist ul li.odd {
	background: #f5f5f5;
}
.wapper .container .containerinner .containerinner2 .contlist ul li .name {
	width: 120px;
	float: left;
	line-height: 40px;
}
.wapper .container .containerinner .containerinner2 .contlist ul li .type {
	width: 127px;
	float: left;
	line-height: 40px;
}
.wapper .container .containerinner .containerinner2 .contlist ul li .price {
	width: 113px;
	float: left;
	line-height: 40px;
}
.wapper .container .containerinner .containerinner2 .contlist ul li .noofcoupons {
	width: 136px;
	float: left;
	text-align: center;
	padding: 0;
	line-height: 73px;
}
.wapper .container .containerinner .containerinner2 .contlist ul li .enddate {
	width: 126px;
	float: left;
	line-height: 73px;
}
.wapper .container .containerinner .containerinner2 .contlist ul li .typeofcampagin {
	width: 204px;
	padding: 0 0 0 40px;
	float: left;
	line-height: 73px;
}
.wapper .container .containerinner .containerinner2 .contlist ul li .status {
	width: 117px;
	float: left;
	line-height: 73px;
}
.wapper .container .containerinner .containerinner2 .contlist ul li .action {
	width: 121px;
	float: left;
	text-align: center;
}
.wapper .container .containerinner .containerinner2 .contlist ul li .name span {
	float: left;
	padding: 0 5px 0 0px;
	color: #9c0400;
}
.wapper .container .containerinner .containerinner2 .contlist ul li .name img {
	float: left;
	margin: 12px 15px 0 10px;
}
.wapper .container .containerinner .containerinner2 .contlist ul li .name p {
	float: left;
}
.wapper .container .containerinner .containerinner2 .contlist ul li .action .view {
	width: 100%;
	height: 30px;
	line-height: 30px;
	margin: 3px 0 0 0;
}
.wapper .container .containerinner .containerinner2 .contlist ul li .action .view a {
	color: #990100;
}
.wapper .container .containerinner .containerinner2 .contlist ul li .action .view img {
	float: left;
	margin: 7px 10px 0 0;
}
.wapper .container .containerinner .containerinner2 .contlist ul li .action .view p {
	float: left;
	text-decoration: underline;
}
.wapper .container .footer {
	width: 964px;
	margin: 0 auto;
	height: 20px;
}
.wapper .container .footer ul {
	margin: -20px 0 0 220px;
}
.wapper .container .footer ul li {
	float: left;
	padding: 0 10px 0 0;
}
.wapper .container .footer ul li a {
	color: #444444;
	font-size: 12px;
}
.wapper .container .footer ul span {
	float: left;
	padding: 0 10px 0 0;
	color: #444444;
}
/* ============================== start main dashboard page  CSS ============================== */

.main {
	width: 679px;
	margin: 30px 0;
	padding: 0;
	background: none;
}
.main h4 {
	font-size: 16px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}
.main .left {
	width: 396px;
	height: 248px;
	margin: 10px 0;
	float: left;
	background: none;
}
.main .left .col1 {
	width: 165px;
	height: 110px;
	float: left;
	margin: 0px 32px 20px 0px;
	background: #fef6f6 url(../images/col1-img.png) repeat-x top;
}
.main .left .col1 h1 {
	font-size: 12px;
	font-weight: bold;
	color: #666;
	text-align: center;
	margin: 20px 0;
	font-family: Arial, Helvetica, sans-serif;
}
.main .left .col1 img {
	margin: -12px 60px;
	padding: 0;
}
.main .left .col1 h2 {
	font-size: 10px;
	font-weight: normal;
	color: #444444;
	text-align: center;
	margin: 20px 0;
	font-family: Arial, Helvetica, sans-serif;
}
.main .left .col1 b {
	font-size: 12px;
	font-weight: bold;
	color: #444444;
	text-align: center;
	margin: 20px 0;
	font-family: Arial, Helvetica, sans-serif;
}
.main .right {
	width: 266px;
	height: 248px;
	float: right;
	margin: 10px 0;
	background: url(../images/col1-img3.png) repeat-x top #f9f6ec;
	border: 1pz solid #000;
}
.main .right h1 {
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	margin: 20px 0;
	color: #3a3a3a;
}
.main .right img {
	margin: 0 0 0 60px;
}
.main .right .span {
	width: 130px;
	height: 20px;
	color: #FFF;
	font-size: 12px;
	padding: 6px 6px 4px 8px;
	margin: 15px 0 0 60px;
	background: #656462;
}
.main .right .span:hover {
	background: #0b9444;
}
.main2 {
	width: 674px;
	float:left;
	margin: 0px 0 0 0;
	padding: 1px 0 0 0;
	background: url(../images/main2-bg.png) repeat-x;
}
.main2 h3 {
	font-size: 16px;
	font-weight: normal;
	margin: 40px 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}
.main2 .left {
	width: 660px;
	height: 168px;
	margin: 20px 0;
	float: left;
	background: none;
}
.main2 .left .col1 {
	width: 165px;
	height: 110px;
	float: left;
	margin: 0px 40px 20px 0px;
	background: #f2f9f5 url(../images/main2-bg1.png) repeat-x top;
}
.main2 .left .col1 h1 {
	font-size: 12px;
	font-weight: bold;
	color: #666;
	text-align: center;
	margin: 20px 0;
	font-family: Arial, Helvetica, sans-serif;
}
.main2 .left .col1 img {
	margin: -12px 60px;
	padding: 0;
}
.main3 {
	width: 674px;
	float:left;
	margin: 0px 0 0 0;
	padding: 1px 0 0 0;
	background: url(../images/main2-bg.png) repeat-x;
}
.main3 h3 {
	font-size: 16px;
	font-weight: normal;
	margin: 40px 0 0 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}
.main3 .left {
	width: 660px;
	height: 140px;
	margin: 20px 0;
	float: left;
	background: none;
}
.main3 .left .col1 {
	width: 165px;
	height: 110px;
	float: left;
	margin: 0px 40px 20px 0px;
	background: #f2f9f5 url(../images/main2-bg1.png) repeat-x top;
}
.main3 .left .col1 h1 {
	font-size: 12px;
	font-weight: bold;
	color: #666;
	text-align: center;
	margin: 20px 0;
	font-family: Arial, Helvetica, sans-serif;
}
.main3 .left .col1 img {
	margin: -12px 60px;
	padding: 0;
}
/* ============================== start main dashboard page  CSS ============================== */


/* ============================== start main notification page  CSS ============================== */

.notification {
	width: 678px;
	min-height: 500px;
	margin: 80px 0;
	background: none;
}
.notification h1 {
	font-size: 20px;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	padding: 0px 0 15px 0;
	background: url(../images/dashboard-notification-bg.png) repeat-x bottom;
}
.notification .inner {
	width: 678px;
	height: 65px;
	margin: 0px 0 24px 0;
	background: url(../images/notification-1.png) no-repeat left;
}
.notification .inner p {
	font-size: 12px;
	margin: 0 0 0 40px;
	padding: 20px 20px 0 20px;
	font-weight: normal;
	color: #000000;
}
.notification .inner span {
	color: #093;
	font-weight: bold;
}
.notification .inner h2 {
	font-size: 11px;
	color: #000;
	font-weight: normal;
	margin: 10px 60px;
}
.notification .inner2 {
	width: 678px;
	height: 65px;
	margin: 0px 0 24px 0;
	background: url(../images/notification-2.png) no-repeat left;
}
.notification .inner2 p {
	font-size: 12px;
	margin: 0 0 0 40px;
	padding: 20px 20px 0 20px;
	font-weight: normal;
	color: #000000;
}
.notification .inner2 span {
	color: #093;
	font-weight: bold;
}
.notification .inner2 h2 {
	font-size: 11px;
	color: #000;
	font-weight: normal;
	margin: 10px 60px;
}
.notification .inner3 {
	width: 678px;
	height: 65px;
	margin: 0px 0 24px 0;
	background: url(../images/notification-3.png) no-repeat left;
}
.notification .inner3 p {
	font-size: 12px;
	margin: 0 0 0 40px;
	padding: 20px 20px 0 20px;
	font-weight: normal;
	color: #000000;
}
.notification .inner3 span {
	color: #093;
	font-weight: bold;
}
.notification .inner3 h2 {
	font-size: 11px;
	color: #000;
	font-weight: normal;
	margin: 10px 60px;
}
/* ============================== end main notification page  CSS ============================== */


/* ============================== start main Q and A page  CSS ============================== */

.q-a {
	width: 246px;
	height: 44px;
	margin: 70px 0;
	background: none;
}
.q-a .box {
	width: 165px;
	height: 26px;
	border: none;
	margin: 0 20px;
	padding: 2px;
	text-align: left;
	background: #f6f2e5;
}
/* Layout Defaults
----------------------------------------------------------------------------------------------------*/

/* Layout Defaults
----------------------------------------------------------------------------------------------------*/

#home_banner_content11 .banner_content1 {
	width: 478px;
	background: none;
	padding: 0px;
	margin: 0px 40px;
}
.banner_content1 .text_cont {
	background: #EE3024;
	color: #FFF;
	opacity: 0.7;
}
.banner_content1 h4 {
	color: #FFF;
	font-weight: bold;
	font-size: 24px;
	margin: 5px 5px 0px 0px;
	padding: 0px;
	text-transform: uppercase;
	text-align: right;
}
.banner_content1 h5 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
	text-align: right;
}
.banner_content1 h6 {
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 10px 5px;
	text-align: right;
}
.banner_content1 .wk-accordion-default {
	margin-top: 20px;
}
.banner_content1 .wk-accordion-default .toggler {
	background: url(../images/accordion_bg_teg.png) no-repeat top left;
	border: none;
	border-radius: 0px;
	margin: 10px;
	padding: 12px 55px;
	font-size: 12px;
	box-shadow: none;
	color: #058e3e;
	font-weight: bold;
	cursor: pointer !important;
	text-align: left;
}
.banner_content1 .wk-accordion-default .toggler.active {
	background: url(../images/accordion_bg_teg_active.png) no-repeat top left;
	color: red;
}
#content-wrapper {
	background: none;
	margin: -10px 0 0 0;
}
#content-wrapper h2 {
	font-weight: bold;
	color: #fff;
	font-size: 12px;
	background: #058e3e;
	width: 120px;
	margin: 0px 0 0 10px;
	padding: 8px 0 8px 10px;
}
#content-wrapper p {
	margin: 20px 0 10px 40px;
	width: 550px;
	text-align: justify;
	float: left;
}
#content-wrapper p img {
	float: left;
	padding: 0px 20px 0 0px;
}
.banner_content1 .wk-accordion-default .toggler.active p {
	color: #FFF;
	float: left;
	width: 380px;
	padding: 10px;
	font-size: 12px;
	text-align: left;
	background: none;
}
.side {
	width: 149px;
	height: 21px;
	margin: 50px 20px 0 0;
	float: right;
	background: none;
}
.side h1 {
	float: left;
	width: 20px;
	height: 20px;
	background: url(../images/next-1.png) no-repeat;
}
.side h2 {
	float: right;
	width: 20px;
	height: 20px;
	background: url(../images/next-2.png) no-repeat;
}
.side p {
	font-size: 12px;
	font-weight: normal;
	color: #058e3e;
	float: left;
	margin: 3px 20px;
}
/* ============================== end main Q and A page  CSS ============================== */



/* ============================== start view sales page  CSS ============================== */
.view-page {
	width: 568px;
	height: 100px;
	margin: 140px 0 20px 60px;
	background: none;
}
.view-page h3 {
	font-weight: normal;
	color: #666;
	font-size: 12px;
	font-weight: bold;
	float: left;
	padding: 0px 20px 0 0;
}
.view-page h4 {
	font-weight: normal;
	color: #666;
	font-weight: bold;
	float: left;
	margin: 0 20px;
}
.view-page .box {
	width: 145px;
	height: 23px;
	float: left;
	font-size: 12px;
	padding: 0 0 0 6px;
	height: 20px;
	border: 1px solid #a2a2a2;
}
.view-page .submit {
	width: 63px;
	height: 22px;
	background: #067936;
	border: none;
	margin: 0 0 0 20px;
	text-align: center;
	color: #FFF;
	font-size: 12px;
	font-weight: normal;
}
.view-page .submit:hover {
	background: #ef4036;
}
.view-page h1 {
	font-weight: normal;
	font-size: 17px;
	color: #000;
	float: right;
	margin: 50px 0;
}
.generate-report {
	width: 116px;
	height: 32px;
	margin: 290px 30px 0 0;
	float: right;
	background: #067936;
}
.generate-report h1 {
	font-size: 12px;
	font-weight: normal;
	color: #FFF;
	margin: 8px 10px;
	text-align: center;
}
/* ============================== end view sales page  CSS ============================== */



/* ============================== start post a product   CSS ============================== */

.product {
	width: 569px;
	margin: 90px 40px;
	border: 1px solid #86c49e;
}
.product-inner {
	width: 500px;
	background: none;
}
.fonts {
	font-size: 13px;
	text-align: right;
	font-weight: bold;
	color: #008030;
}
.product .box {
	width: 251px;
	height: 26px;
	font-size: 12px;
	border-radius: 4px;
	border: 1px solid #c9c9c9;
}
.product .box1 {
	width: 251px;
	height: 26px;
	font-size: 12px;
	border-radius: 4px;
	border: 1px solid #c9c9c9;
	border-right: none;
	background: url(../images/123.png) right no-repeat;
}
.product .text-box1 {
	width: 250px;
	height: 97px;
	border-radius: 3px;
	border: 1px solid #c9c9c9;
}
/* ============================== end post a product   CSS ============================== */


/* ============================== start Publish Profile  CSS ============================== */

.publish {
	width: 676px;
	height: 167px;
	background: none;
	margin: 80px 0;
	box-shadow: 0 0 5px #ebebeb;
	border-radius: 4px;
	border: 1px solid #cecdcd;
}
.publish1 {
	width: 676px;
	height: 165px;
	background: #e7e6e0;
	border-radius: 3px;
	border: 1px solid #cecdcd;
}
.publish2 {
	width: 660px;
	height: 150px;
	margin: 7px;
	padding: 1px 0;
	background: #fff;
}
.publish3 {
	width: 654px;
	height: 146px;
	margin: 1px 0 0 2px;
	background: #fff;
	border: 1px solid #d4d5d5;
}
.product-inner1 {
	width: 300px;
	height: auto;
	float: left;
	background: none;
}
.fonts1 {
	font-size: 12px;
	text-align: left;
	font-weight: bold;
	color: #666;
}
.publish-right1 {
	width: 260px;
	height: 140px;
	float: right;
	background: none;
}
.publish-right {
	width: 134px;
	height: 125px;
	float: left;
	background: #fff url(../images/publissh-img.png) no-repeat center;
	margin: 10px 0px 0 0;
	border-radius: 4px;
	box-shadow: 0 0 2px #eeeff0;
	border: 1px solid #c5c9cb;
}
.publish-right1 .sd1 {
	width: 58px;
	height: 19px;
	float: left;
	margin: 100px 10px;
	border: 1px solid #006e2e;
	border-radius: 3px;
	background: #0b9444;
}
.publish-right1 .sd2 {
	width: 56px;
	height: 17px;
	margin: 0;
	color: #fff;
	line-height: 18px;
	cursor: pointer;
	text-align: center;
	font-size: 12px;
	border: 1px solid #91cfab;
	border-radius: 3px;
	background: #0b9444;
}
.publish-right1 .sd2 a {
	font-size: 11px;
	font-weight: normal;
	color: #fff;
}
.publish-inner {
	width: 600px;
	height: 540px;
	background: none;
}
.publish-inner .text-box2 {
	width: 404px;
	height: 117px;
	float: right;
	margin: 0 10px;
	border-radius: 5px;
	border: 1px solid #c9c9c9;
}
.right-bottons {
	width: 153px;
	height: 39px;
	text-align: center;
	border-radius: 3px;
	margin: -15px 0px 0px 5px;
	float: right;
	background: #0b9444;
}
.right-bottons:hover {
	background: #ef4036;
}
.right-bottons1 {
	width: 147px;
	height: 33px;
	margin: 2px 2px;
	border: 1px solid #FFF;
	border-radius: 3px;
}
.right-bottons2 {
	width: 142px;
	height: 29px;
	margin: 1px 1px;
	border: 1px solid #7dc69b;
	border-radius: 3px;
}
.right-bottons:hover .right-bottons2 {
	border: 1px solid #f6938e;
}
.right-bottons2 .inbox {
	font-size: 16px;
	background: none;
	border: none;
	color: #FFF;
	font-weight: normal;
	margin: 4px;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
}
/* ============================== end Publish Profile  CSS ============================== */



/* ============================== start view purchas  CSS ============================== */

.purchases {
	width: 100%;
	margin: 80px 0;
	background: none;
}
.purchases h1 {
	font-size: 16px;
	font-weight: normal;
	color: #666;
}
.purchases h2 {
	font-size: 13px;
	font-weight: bold;
	color: #0e51ad;
	margin: 5px 0;
}
.purchases h3 {
	font-size: 14px;
	font-weight: normal;
	color: #ef4f45;
	margin: 10px 0;
}
.purchases-inner {
	width: 674px;
	border: 2px solid #d6d6d6;
	background: #f9f8f7;
}
.purchases-inner h1 {
	width: 654px;
	height: 20px;
	background: #f1efed;
	font-size: 14px;
	padding: 10px;
	font-weight: normal;
}
.purchases-inner1 {
	width: 674px;
	min-height: 185px;
	border-bottom: 1px solid #d6d6d6;
}
.purchases-inner-left {
	width: 190px;
	min-height: 146px;
	float: left;
	margin: 0 20px;
	background: none;
}
.purchases-inner-left ul {
	list-style: none;
	margin: 10px 30px;
	padding: 0;
}
.purchases-inner-left li {
	margin: 0;
	padding: 0;
}
.purchases-inner-left a {
	color: #444444;
	font-size: 14px;
	line-height: 28px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.purchases-inner-left .first {
	color: #F00;
}
.purchases-inner-left1 {
	width: 220px;
	min-height: 146px;
	float: right;
	margin: 0 60px 0 0px;
	background: none;
}
.purchases-inner-left1 ul {
	list-style: none;
	margin: 10px 30px;
	padding: 0;
}
.purchases-inner-left1 li {
	margin: 0;
	padding: 0;
}
.purchases-inner-left1 a {
	color: #444444;
	font-size: 14px;
	line-height: 28px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}
.purchases-inner-left1 .first {
	color: #F00;
}
.right3 {
	width: 678px;
	min-height: 240px;
	border: 2px solid #d6d6d6;
}
.right3 h1 {
	font-size: 12px;
	font-weight: normal;
	color: #666;
	line-height: 22px;
	text-align: right;
	margin: 5px 10px 0 0;
	padding: 0;
}
.right3 h3 {
	font-size: 16px;
	font-weight: bold;
	color: #1b1b1b;
	text-align:right;
	margin: 40px 10px 10px 0;
}
.porduct-star .icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 0 0 0 1px;
	float: left;
}
.porduct-star .star {
	margin: 5px 0 0 px;
	background: url(../../images/icons/star.png) no-repeat right;
	text-indent: -10000px;
}
.subject {
	width:250px;
	padding:8px 0 0 0;
	background:url(../images/select_right.png) no-repeat right;
	border:1px solid #CCC;
	border-radius:3px;
}

.td {
	padding:0px 0 0 0;
	border-right:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	height:80px;
}