select {
	width: 83px;
	border: 0px solid #c7cdd0;
	background: #fff;
	padding: 0px;
	margin-left: 10px;
}
span.customSelect {
	font-size: 11px;
	background: url(../../images/users/msDropDown.gif) 0 0 no-repeat;
	color: #7c7c7c;
	line-height: 24px;
	padding-left: 7px;
	margin-left: 10px;
	width: 76px;
}
span.customSelect.changed {
	background-color: #fff;
}
.customSelectInner {
}