body {
	margin: 0;
	padding: 0;
}
a:link, a:visited {
	color: #6bbb8c;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a img {
	border-width: 0;
}
#topnav {
	font-size: 14px;
	text-align: center;
}
#topnav a.signin, #topnav a.payment, #topnav input.save {
	text-decoration: none;
	font-weight: bold;
	color: #fff !important;
	width: 77px;
	padding: 8px;
	border:0;
	background: #008333;
}
#topnav a.signin:hover, #topnav a.payment:hover, #topnav input.save:hover {
	background: #6bbb8c;
}
#topnav a.signin, #topnav a.signin:hover, #topnav a.payment, #topnav a.payment:hover, #topnav input.save, #topnav input.save:hover {
 *background-position:0 3px!important;
}
a.signin, a.payment {
	position: relative;
	margin-left: 3px;
}
a.signin span {
	background-image: url("../../images/form/toggle_down_light.png");
	background-repeat: no-repeat;
	background-position: 100% 50%;
	padding: 20px;
}
#topnav a.menu-open {
	background: #008333 !important;
	color: #fff !important;
	outline: none;
}
#small_signup, #payment {
	display: inline;
	float: none;
	line-height: 23px;
	margin: 25px 0 0;
	width: 170px;
}
a.signin.menu-open span, a.payment.menu-open span {
	background-image: url("../../images/form/toggle_up_dark.png");
	color: #fff;
}
#signin_menu, #payment_menu {
	display: none;
	background: url(../../images/form/form-click-bg.png) 0 0 no-repeat;
	position: absolute;
	width: 392px;
	height: 170px;
	z-index: 100;
	border: 1px transparent;
	text-align: left;
	padding: 28px 0 0 20px;
	top: 3px;
	right: 0px;
	margin-top: 0px;
	margin-right: 0px;
	color: #789;
	font-size: 11px;
}
#payment_menu {
	background: url(../../images/form/form-click-bg1.png) 0 0 no-repeat !important;
	height: 300px;
}
#signin_menu input[type=text], #signin_menu input[type=email], #payment_menu input[type=text], #payment_menu input[type=email] {
	display: block;
	line-height: 24px;
	border: 1px solid #999;
	font-size: 13px;
	margin: 0 0 0px;
	padding: 0px 15px;
	width: 178px;
	color: #000;
	height: 24px;
}
#signin_menu p, #payment_menu p {
	margin: 0;
}
#signin_menu a, #payment_menu a {
	color: #6AC;
}
#signin_menu label, #payment_menu label {
	font-weight: normal;
}
.tipsy-inner {
	padding: 10px 15px;
	line-height: 1.5em;
	font-weight: bold;
}
.tipsy {
	opacity: .8;
	filter: alpha(opacity=80);
	background-repeat: no-repeat;
	padding: 5px;
}
.tipsy-inner {
	padding: 8px 8px;
	max-width: 200px;
	font: 11px 'Lucida Grande', sans-serif;
	font-weight: bold;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #000;
	color: white;
	text-align: left;
}
.tipsy-north {
	background-image: url(images/tipsy-north.gif);
	background-position: top center;
}
.tipsy-south {
	background-image: url(images/tipsy-south.gif);
	background-position: bottom center;
}
.tipsy-east {
	background-image: url(images/tipsy-east.gif);
	background-position: right center;
}
.tipsy-west {
	background-image: url(images/tipsy-west.gif);
	background-position: left center;
}