/* Layout Defaults
----------------------------------------------------------------------------------------------------*/
#home_banner_content .banner_content {
	width: 224px;
	background: none;
	padding: 0px;
	margin: 0px 2px;
}
.banner_content .text_cont {
	background: #EE3024;
	color: #FFF;
	opacity: 0.7;
}
.banner_content h4 {
	color: #FFF;
	font-weight: bold;
	font-size: 24px;
	margin: 5px 5px 0px 0px;
	padding: 0px;
	text-transform: uppercase;
	text-align: right;
}
.banner_content h5 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
	text-align: right;
}
.banner_content h6 {
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 10px 5px;
	text-align: right;
}
.banner_content .wk-accordion-default {
	margin-top: 20px;
}
.banner_content .wk-accordion-default .toggler {
	background: url(../../images/users/dashboard_17.png) no-repeat 0 6px;
	border-radius: 0px;
	margin: 0px;
	padding: 12px 55px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	box-shadow: none;
	color: #000;
	font-weight: bold;
	cursor: pointer !important;
	text-align: left;
}
.wk-accordion-default h1 {
	font-size: 12px;
	margin: 5px 10px 5px 40px;
	padding: 0px 0 0 20px;
	line-height: 18px;
	color: #666;
	font-weight: normal;
	background: url(../../images/users/dashboard_23.png) no-repeat left;
}
.wk-accordion-default h1.firs {
	font-weight: bold;
	color: #333;
}
.wk-accordion-default h1:hover {
	color: #000;
}
.banner_content .wk-accordion-default b {
	padding: 14px;
	font-weight: normal;
}
.banner_content .wk-accordion-default .toggler {
	padding: 14px;
}
.banner_content .wk-accordion-default .toggler .homeicon {
	width: 19px;
	height: 16px;
	background: url(../../images/users/dashboard_16hover.png) 0 0 no-repeat;
	float: left;
	margin: 0px 0 0 10px;
}
.banner_content .wk-accordion-default .toggler.active .homeicon {
	background: url(../../images/users/dashboard_16.png) 0 0 no-repeat;
}
.banner_content .wk-accordion-default .toggler .homeicon2 {
	width: 16px;
	height: 16px;
	background: url(../../images/users/dashboard_20.png) 0 0 no-repeat;
	float: left;
	margin: 0px 0 0 10px;
}
.banner_content .wk-accordion-default .toggler.active .homeicon2 {
	background: url(../../images/users/dashboard_20hover.png) 0 0 no-repeat;
}
.banner_content .wk-accordion-default .toggler .homeicon3 {
	width: 20px;
	height: 19px;
	background: url(../../images/users/dashboard_21.png) 0 0 no-repeat;
	float: left;
	margin: 0px 0 0 10px;
}
.banner_content .wk-accordion-default .toggler.active .homeicon4 {
	background: url(../../images/users/dashboard_22hover.png) 0 0 no-repeat;
}
.banner_content .wk-accordion-default .toggler .homeicon4 {
	width: 22px;
	height: 12px;
	background: url(../../images/users/dashboard_22.png) 0 0 no-repeat;
	float: left;
	margin: 0px 0 0 10px;
}
.banner_content .wk-accordion-default .toggler.active .homeicon3 {
	background: url(../../images/users/dashboard_21hover.png) 0 0 no-repeat;
}
.banner_content .wk-accordion-default .toggler.active {
	background: url(../../images/users/dashboard_25.png) no-repeat;
	color: #fff;
}
.content-wrapper {
	background: url(../../images/users/dashboard-sub.png) repeat;
}
.banner_content .wk-accordion-default .toggler.active p {
	color: #FFF;
	float: left;
	width: 380px;
	padding: 0;
	font-size: 12px;
	text-align: left;
}
.ans {
	width: 350px;
	border-radius: 4px;
	margin: 0;
	border: 1px solid #999;
	height: 100px;
}
.ans-sub {
	float: left;
	background: #0b9444;
	border-radius: 4px;
	border: none;
	padding: 3px;
	color: #FFF;
	margin: 10px 0 60px -110px;
}
#cont1 {
	width: 160px;
	height: 30px;
	margin: 50px 0 20px 200px;
	background: none;
}
#cont1 .first {
	background: #0b9444;
	padding: 3px 8px;
	color: #fff;
	margin: 0;
}
#cont1 ul {
	margin: 0;
	padding: 0;
}
#cont1 li {
	list-style: none;
	float: left;
	padding: 5px 5px;
}
#cont1 a {
	font-size: 12pxpx;
	font-weight: bold;
	color: #666;
	text-align: center;
	margin: 0 0px 0 0;
}