@charset "utf-8";
/* CSS Document */
.product1 {
	margin: 15px 0;
	padding-bottom: 40px;
}
.products_list {
	width: auto;
	overflow: hidden;
	padding-bottom: 5px;
	margin-bottom: 0px;
	margin-top: 10px;
}
.images {
	float: left;
	border: 1px solid #c7c7c7;
	width: 100px;
	height: 103px;
	margin-right: 10px;
}
.images img {
	float: left;
}
.details {
	width: 566px;
	float: left;
	height: auto;
}
.first {
	background: #008535;
	height: 30px;
}
.first h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #fff;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	float: left;
}
table {
	border: none;
	width: 566px;
}
.second {
	border: 1px solid #c7c7c7;
}
.second>td>td>td {
	width: 150px;
}
.second>td>td {
	width: 98px !important;
}
.second td {
	border-left: 1px solid #c7c7c7;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.box {
	border: 1px solid #c7c7c7;
	min-height: 40px;
}
.select_boxes {
	width: 100%;
	height: 25px;
	position: relative;
	padding: 0 0 10px 0;
}
.select_boxes p {
	width: 110px;
	float: left;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #000;
}
.custom_select {
	float: left;
}
.update {
	width: 140px;
	float: right;
	padding: 10px 0;
}
.update ul {
	list-style-type: none;
}
.update ul li {
	float: left;
	display: inline;
}
.update ul li a {
	float: left;
	padding: 0 12px;
	height: 20px;
	font: 14px Arial, Helvetica, sans-serif;
	line-height: 20px;
	color: #000;
}
.update ul li a:hover {
	text-decoration: underline;
}
option {
	margin-left: 0px;
	color: #000;
	font: 12px Arial, Helvetica, sans-serif;
	background: #f7f6ef;
	height: 20px;
	line-height: 20px;
	border: none;
}
.select_right {
	float: left;
	width: 205px;
	height: 30px;
}
.select_left {
	float: left;
	width: 470px;
	height: 30px;
}
.s_right {
	width: auto !important;
	padding-left: 10px !important;
	font: 13px Arial, Helvetica, sans-serif;
}
.numbers {
	width: 130px;
	float: right;
}
.numbers ul {
	list-style-type: none;
}
.numbers ul li {
	float: left;
	display: inline;
	height: 25px;
	line-height: 25px;
}
.numbers ul li a {
	float: left;
	padding: 2px;
	font: 14px/25px Arial, Helvetica, sans-serif;
	color: #000;
	text-decoration: none;
	margin-right: 2px;
}
.numbers ul li a:hover {
	text-decoration: underline;
}
.numbers ul li .act {
	padding: 2px 10px;
	background: #0b9444;
	margin-right: 6px;
	color: #fff;
}