/* Links */
.menu li a {
	display: block;
	padding: 0px;
	margin: -8px 0 0 14px;
	line-height: 28px;
	text-decoration: none;
	border-right: 1px solid #4f5058;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #f3f3f3;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
.menu li:first-child a {
	border-left: none;
}
.menu li:last-child a {
	border-right: none;
}
.menu li:hover > a {
	color: #8fde62;
}
/* Sub Menu */

.menu ul {
	position: absolute;
	top: 0px;
	left: 0;
	opacity: 0;
	background: #1f2024;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	-webkit-transition: opacity .25s ease .1s;
	-moz-transition: opacity .25s ease .1s;
	-o-transition: opacity .25s ease .1s;
	-ms-transition: opacity .25s ease .1s;
	transition: opacity .25s ease .1s;
}
.menu li:hover > ul {
	opacity: 1;
}
.menu ul li {
	height: 0;
	overflow: hidden;
	padding: 0;
	-webkit-transition: height .25s ease .1s;
	-moz-transition: height .25s ease .1s;
	-o-transition: height .25s ease .1s;
	-ms-transition: height .25s ease .1s;
	transition: height .25s ease .1s;
}
.menu li:hover > ul li {
	height: 36px;
	overflow: visible;
	padding: 0;
}
.menu ul li a {
	width: 100px;
	padding: 4px 0 4px 40px;
	margin: 0;
	border: none;
	border-bottom: 1px solid #353539;
}
.menu ul li:last-child a {
	border: none;
}
/* Icons */

.menu a.documents {
	background: url(../../images/users/docs.png) no-repeat 6px center;
}
.menu a.messages {
	background: url(../../images/users/bubble.png) no-repeat 6px center;
}
.menu a.signout {
	background: url(../../images/users/arrow.png) no-repeat 6px center;
}