.input2 select {
	width: 250px !important;
	border: 0px solid #c7cdd0;
	background: #fff;
	padding: 0px;
	margin-left: 0px;
	height: 26px !important;
}
.input2 .customSelect {
	font-size: 12px;
	background: url(../images/msdropdown.gif) no-repeat;
	line-height: 27px;
	padding-left: 30px;
	margin-left: 0px;
	margin-left: 0px;
	width: 197px !important;
}
.input4 select {
	width: 120px !important;
	border: 0px solid #c7cdd0;
	background: #fff;
	padding: 0px;
	margin-left: 0px;
	height: 26px !important;
}
.input4 .customSelect {
	display:inline-block;
	font-size: 12px;
	background: url(../images/msdropdown1.gif) no-repeat;
	line-height: 27px;
	padding-left: 10px;
	margin-left: 0px;
	margin-left: 0px;
	width: 107px !important;
}
.input3 select {
	width: 286px !important;
	border: 0px solid #c7cdd0;
	background: #fff;
	padding: 0px;
	margin-left: 0px;
	height: 27px !important;
}
span.customSelect {
	font-size: 18px;
	background: url(../images/customselector.jpg) 0 0 no-repeat;
	line-height: 40px;
	padding-left: 30px;
	margin-left: 0px;
	width: 290px !important;
	height: 40px
}
.input1 .customSelect {
	font-size: 18px;
	background: url(../images/custom2.jpg) 0 0 no-repeat;
	line-height: 41px;
	padding-left: 30px;
	margin-left: 0px;
	margin-left: 0px;
	width: 420px !important;
}
.input2 .customSelect {
	font-size: 12px;
	background: url(../images/msdropdown.gif) 0 0 no-repeat;
	line-height: 27px;
	padding-left: 10px;
	margin-left: 0px;
	width: 250px !important;
	height: 28px;
}
.input3.customSelect {
	font-size: 12px;
	background: url(../images/images/drop2.jpg) 0 0 no-repeat;
	line-height: 27px;
	padding-left: 30px;
	margin-left: 0px;
	width: 286px !important;
}
span.customSelect.changed {
	background-color: #fff;
	width: 290px !important;
}
span.customSelect1.changed {
	background-color: #fff;
	width: 420px !important;
}
.customSelectInner {
	min-width: 290px !important;
}
.cap {
	background: url(../images/images/cap.png) 0 0 no-repeat;
	width: 32px;
	height: 25px;
	position: relative;
	left: 10px;
	top: 2px;
}