@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'PressStyleRegular';
    src: url('../fonts/pressstyle.eot');
    src: url('../fonts/pressstyle.eot') format('embedded-opentype'),
         url('../fonts/pressstyle.woff') format('woff'),
         url('../fonts/pressstyle.ttf') format('truetype'),
         url('../fonts/pressstyle.svg#PressStyleRegular') format('svg');
	behavior: url(PIE.htc);
}
@font-face {
    font-family: 'LiberationSansRegular';
    src: url('../fonts/liberationsans.eot');
    src: url('../fonts/liberationsans.eot') format('embedded-opentype'),
         url('../fonts/liberationsans.woff') format('woff'),
         url('../fonts/liberationsans.ttf') format('truetype'),
         url('../fonts/liberationsans.svg#LiberationSansRegular') format('svg');
	behavior: url(PIE.htc);
}