@charset "utf-8";
/* CSS Document */

.content h1 {
	background: url(../images/border_bottom.gif) repeat-x bottom center;
	padding-bottom: 10px;
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 30px;
	letter-spacing: 1px;
	font-weight: normal;
}
.content h1.tops {
	color: #16994c;
	margin-top: 30px;
	padding-left: 0;
}
.top_sellers {
	margin-top: 20px;
	height:230px;
	position:relative;
	display:block;
}
.top_sellers .item {
	float:left;
	width: 187px;
	min-height: 217px;
	height: 218px;
	max-height: 218px;
	margin-right: 22px;
	border: 6px solid #0b9444;
	position: relative;
	text-align: center;
}
.top_sellers .item:last-child {
	margin-right: 0;
}
.top_sellers .item:hover {
	border: 6px solid #ef4036 !important;
}
.top_sellers .item:hover .details {
	background: rgba(239,64,54,0.8) !important;
}
.top_sellers .item .details {
	background: rgba(11,148,68,0.8);
	position: absolute;
	bottom: 0;
	width: 180px;
	height: 52px;
	padding-right: 10px;
	line-height: 52px;
	color: #fff;
	font-weight: bold;
	text-transform:uppercase;
}
.top_sellers .item .details span {
	float: right;
	padding-right: 7px;
}
.content h1.prom {
	color: #ef3d33;
	margin-top: 50px;
	padding-left: 0;
}
.promotions {
	margin-top: 20px;
	min-height:180px;
}
.promotions .promo1 {
	float:left;
	border: 1px solid #d0d0d0;
	width: 400px;
	height: 162px;
	position: relative;
}
.promotions .promo2 {
	float: right;
	width: 400px;
	height: 162px;
	margin-right: 20px;
	border: 1px solid #d0d0d0;
	position: relative;
}
.promotions .details {
	position: absolute;
	left: 10px;
	top: 0px;
}
.promotions .bg_red {
	background-color: rgba(239,64,54,0.9);
}
.promotions .bg_green {
	background-color: rgba(11,148,68,0.9);
}
.promotions .details .ellipse {
	width: 126px;
	height: 126px;
	-webkit-border-radius: 65px 64px 64px 65px/65px 65px 64px 64px;
	-moz-border-radius: 65px 64px 64px 65px/65px 65px 64px 64px;
	border-radius: 65px 64px 64px 65px/65px 65px 64px 64px;
	padding-left: 3px;
	padding-top: 3px;
}
.promotions .details .ellipse .l_ellipse {
	width: 116px;
	height: 116px;
	-webkit-border-radius: 60px 59px 59px 60px/60px;
	-moz-border-radius: 60px 59px 59px 60px/60px;
	border-radius: 60px 59px 59px 60px/60px;
	border: 2px solid #fff;
	padding-left: 3px;
	padding-top: 3px;
}
.promotions .details .ellipse .l_ellipse .ll_ellipse {
	display: block;
	width: 111px;
	height: 95px;
	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	border-radius: 55px;
	border: 1px solid #fff;
	padding-top: 15px;
	line-height: 40px;
	text-align: center;
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 40px;
	letter-spacing: 1px;
	font-weight: normal;
	color: #fff;
	vertical-align: bottom;
}
.promotions .details .title {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	margin-left: 155px;
	margin-top: 30px;
	width: 150px;
}
.promotions .details .sub_title {
	margin-left: 155px;
	margin-top: 30px;
	width: 150px;
}

@media \0screen {
	body {
		font-family:"Arial", sans-serif !important;
	}
	.top_sellers .item .details {
		background: #0b9444;
	}
	.top_sellers .item:hover .details {
		background: #ef4036;
	}
	.promotions .details .ellipse .l_ellipse .ll_ellipse {
		font-size:26px !important;
		font-weight:bold;
	}
}
