@charset "utf-8";
/* CSS Document */

.search_box {
	float: right;
	display: block;
	position: absolute;
	top: 60px;
	right: 30px;
	z-index: 9;
	width: 240px;
	background: none;
}
#quick_links {
	display: inline-block;
	width: 50%;
	min-height: 100px;
	float: right;
}
.login_cart .cart {
	margin: 0px 0 0 0;
}
.bg_red {
	background: #bf5447;
}
.bg_green {
	background-color: #09934e;
}
.right h3 {
	font-size: 20px;
}
.font {
	font-size: 9px;
}
nav ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
nav ul a, nav ul a:visited {
	padding: 5px 21px 5px 20px;
}
.top_sellers .item {
	margin-right: 20px;
}
.search_box .title .ll_tit {
	font-size: 18px;
}
.welcome .icon {
	margin: 0 0 0 60px;
}
#left-indiv .product-2 h1 {
	font-size: 15px;
}
#left-indiv .product-2 p {
{
font-size:9px;
}
#right-indiv h1 {
	font-size: 12px;
}
.para-nav {
	font-size:11px !important;
}
#main-content h1#page_title {
	font-size:16px !important;
}
.seller-profile-righttdiv #left-indiv .product-2 h1 {
	font-size:12px !important;
}