@charset "utf-8";
/* CSS Document */
#form-section {
	background: #fff;
}
.welcome .profile {
	margin-left: 130px !important;
}
nav ul {
	font-size:18px !important;
}
nav ul a, nav ul a:visited {
	padding: 5px 22px 5px 21px;
}
.bg_red {
	background:#d5493a !important;
}
.bg_green {
	background:#119855 !important;
}
.ellipse_thin h2 {
	font-size:26px !important;
}
.search_box .title .ll_tit {
	font-size:22px !important;
}
.search_box #search {
	background:#d5493a !important;
}
.content h1 {
	font-size:24px !important;
    font-weight: bold;
}
.top_sellers .item {
	margin-right: 15px;
}
.top_sellers .item .details {
	background:#119855 !important;
}
.col1 {
	width: 33% !important;
}
.col2 {
	width: 30% !important;
}
.col3 {
	width: 30% !important;
}
.col4 {
	width: 21.5% !important;
}
.col2 h4, .col3 h4, .col4 h4 {
	font-size:13px !important;
	width: 61%;
}
.col2 h4 {
	width:40% !important;
}
.Registration .left h4, .seller-profile-css .right1 h4, .product-information .left h4, .uploadproductscont h4, .paymentdelevery2cont h4, .sallerprocont h4, .pricingcont h4, .productinformationcont h4, .salesrecord h4, .buyer-page .deliveryinformationcont h4, .buyer-page .subjectlevecont h4, .buyer-page .sellerratingcont h4, .buyer-page .paymenygatewaycont h4, .buyer-page .productratingcont h4, .filetype ul h1, .product-1 h2 {
	font-size:14px !important;
}
.product-1 h1 {
	font-size:13px !important;
}