@charset "utf-8";
/* CSS Document */

.content .clear_cart {
	width:70px;
    outline: 0;
    padding: 5px 12px;
    display: block;
    color: #fff;
	text-align:center;
    font-weight: bold;
	font-size:12px;
    border: 1px solid #1d9c52;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #178846;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* CSS3 */
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Firefox */
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2); /* Safari, Chrome */
}
.content .clear_cart:hover {
    color: #fff;
    background: #ef4036;
	border: 1px solid #ef4036;
}
.content .place_order_but {
	width:100%;
	background:none;
	border:0px;
	color:#fff;
	cursor:pointer;
	margin:0 0 0 5px;
}

/* start why us page css */
.content {
	padding-top: 30px;
}
.content h1 a {
	color: #ef4036;
}
.content h1 {
	font-size: 12px;
	color: #ef4036;
	font-weight: normal;
	background: url(../images/border_bottom.gif) repeat-x bottom center;
	letter-spacing: 1px;
	margin: 10px 0 0 0;
	padding: 10px 0px 10px 0px;
}
#main-content {
	width: 879px;
	height: auto;
	background: none;
	margin: 10px auto;
}
#main-content h1 {
	font-size: 41px;
	color: #16994c;
	background: none;
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
}
#main-content h2 {
	color: #ef3f35;
	font-size: 30px;
	padding: 0;
	margin: 0;
}
#main-content p {
	font-size: 12px;
	color: #484848;
	text-align: justify;
	letter-spacing: 0px;
	margin: 10px 0;
	padding: 0;
}
#col1 {
	width: 262px;
	height: 169px;
	background: none;
	margin: 0 5px 5px 0;
	padding: 20px 0 0 0;
	float: left;
}
#col1-inner {
	width: 180px;
	height: 125px;
	float: right;
	background: none;
}
#col1-inner h1 {
	font-size: 20px;
	color: #0b9444;
	margin: 10px 0 0 -10px;
	padding: 0;
}
#col1-inner p {
	margin: 0 0 10px -10px;
	color: #353535;
	text-align: left;
	padding: 0;
}
/* end why us page css */

/*start about us page css */
#banner {
	width: 325px;
	height: 230px;
	margin: 0 0 20px 0;
	float: left;
	background: none;
}
#content-div {
	width: 530px;
	height: 222px;
	margin: 0 0 20px 10px;
	float: right;
	background: none;
}
#content-div h1 {
	color: #ef3f35;
	font-size: 30px;
	margin: 0;
	padding: 0;
}
#content-div p {
	font-size: 12px;
	color: #484848;
	text-align: justify;
	letter-spacing: 0px;
}
#content-div1 {
	margin: 0 0 20px 0;
	float: left;
	background: none;
}
#content-div ul {
	margin: 0;
	padding: 0;
}
#content-div li {
	margin: 18px 0 0 11px;
	padding: 0;
	list-style: none;
	float: left;
}
#content-div li h1 {
	font-size: 14px;
	color: #ef4036;
	text-transform: uppercase;
	margin: 10px 0;
	text-align: center;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
/* start our partners page */
#d {
	width: 820px;
	height: 400px;
	background: none;
}
#div-left {
	width: 163px;
	height: 349px;
	float: left;
	margin: 57px 40px 98px 2px;
	background: none;
}
#div-left .green_b_ellipse {
	width: 137px;
	height: 137px;
	padding-left: 4px;
	padding-top: 4px;
	-webkit-border-radius: 70px 71px 71px 70px/71px 71px 70px 70px;
	-moz-border-radius: 70px 71px 71px 70px/71px 71px 70px 70px;
	border-radius: 70px 71px 71px 70px/71px 71px 70px 70px;
	border: solid 2px #0b9444;
}
#div-left .green_t_ellipse {
	width: 130px;
	height: 130px;
	-webkit-border-radius: 64px;
	-moz-border-radius: 64px;
	border-radius: 64px;
	border: solid 1px rgba(11,148,68,.5);
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
#div-left h1 {
	font-size: 26px;
	color: #ef3f35;
	margin: 10px
}
#div-left p {
	font-size: 12px;
	color: #ef3f35;
	margin: -24px 10px 10px 10px;
}
#div-left span p {
	font-size: 12px;
	font-weight: normal;
	margin: 0px 0 0 0px;
	color: #666;
	padding: 10px 0px 0 10px;
	text-align: justify;
}
#div-ico {
	width: 157px;
	height: 35px;
	border-top: 2px solid #b4b4b4;
	border-bottom: 1px solid #b4b4b4;
	margin: 10px 10px;
}
#div-ico .icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	float: left;
}
#div-ico .f {
	margin: 10px 5px;
	background: url(../images/icons/f.jpg) no-repeat center;
	text-indent: -10000px;
}
#div-ico .t {
	margin: 10px 5px;
	background: url(../images/icons/t.jpg) no-repeat center;
	text-indent: -10000px;
}
#div-ico .m {
	margin: 10px 5px;
	background: url(../images/icons/m.jpg) no-repeat center;
	text-indent: -10000px;
}
#div-ico .f:hover {
	background: url(../images/icons/f_h.jpg) no-repeat center;
}
#div-ico .t:hover {
	background: url(../images/icons/t_h.jpg) no-repeat center;
}
#div-ico .m:hover {
	background: url(../images/icons/m_h.jpg) no-repeat center;
}
#div-ico img {
	margin: 10px 5px 0 0;
}
/* end our partners page */

/* start product page */
#left-product {
	width: 684px;
	height: auto;
	margin: 0;
	padding: 0;
	background: none;
}
#left-indiv {
	width: 682px;
	height: auto;
	background: none;
	float: left;
	margin: -9px 0 20px 0;
	padding: 0;
	border-right: 1px solid #999;
}
#left-indiv h2 {
	margin: 0 0 0 26px;
	font-size: 41px;
	color: #16994c;
	padding: 20px 20px;
}
#tab2 ul {
	margin-left: 15px;
	list-style: none;
	line-height: 20px;
	font-size:14px;
}
#tab2 li:before {
	/* For a round bullet */
	content: '\2022';
	/* For a square bullet */
	/*content:'\25A0';*/
	display: block;
	position: relative;
	max-width: 0px;
	max-height: 0px;
	left: -15px;
	top: -0px;
	color: #ef4036 !important;
	line-height: 20px;
	font-size: 20px;
}
#right-indiv {
	width: 179px;
	float: right;
	background: none;
}
#right-indiv h1 {
	font-size: 30px;
	color: #16994c;
	padding: 4px 0;
	border-bottom: 2px solid #b1b1b1;
}
/* CSS Tree menu styles */
#right-indiv ol.tree {
	margin-top:15px;
	margin-left:-20px;
	margin-bottom:20px;
}
#right-indiv li {
    position: relative;
    margin-left: -15px;
    list-style: none;
}
#right-indiv li.categ {
    margin-left: -1px !important;
}
#right-indiv li.categ a {
	background: url(../images/icons/bullets.png) left no-repeat !important;
    color: #42413c;
    padding-left: 21px;
    text-decoration: none;
    display: block;
	font-size: 12px;
}
#right-indiv li.categ a:hover {
	color:#ef4036;
}
#right-indiv li input {
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1em;
    width: 1em;
    top: 0;
}
#right-indiv li input + ol {
    background: url(../images/toggle-small-expand.png) 40px 0 no-repeat;
    margin: -1.1em 0 0 -22px;
 /* 15px */
    height: 1em;
}
#right-indiv li input + ol > li {
    display: none;
    margin-left: -14px !important;
	margin-bottom:5px;
    padding-left: 1px;
}
#right-indiv li label {
    cursor: pointer;
    display: block;
    padding-left: 37px;
}
#right-indiv li label:hover {
	color:#ef4036;
}
#right-indiv li input:checked + ol {
    background: url(../images/toggle-small.png) 40px 5px no-repeat;
    margin: -1.5em 0 0 -22px;
 /* 20px */
    padding: 2em 0 0 60px;
    height: auto;
}
#right-indiv li input:checked + ol > li {
    display: block;
	line-height:normal;
	margin-left:20px;
  /* 2px */
}
ol li li:last-child {
    margin-bottom:15px;
 /* 1px */
}
#right-indiv p {
	font-size: 12px;
	text-align: left;
	padding: 10px 0;
}
#left-indiv .product-1, #com2 .product-1 {
	width: 165px;
	height: 236px;
	float: left;
	margin: 0 0 30px 50px;
	padding: 0;
	position:relative;
	border-bottom: 1px solid #0b9444;
}
#left-indiv .product-1:hover, #com2 .product-1:hover {
	border-bottom: 1px solid red;
}
#left-indiv .product-2, #com2 .product-2 {
	position:relative;
}
#left-indiv .product-2:hover, #com2 .product-2:hover {
	background: #f8edec;
	border: 1px solid red;
}
#left-indiv .porduct-star, #com2 .porduct-star {
	width: 100px;
	height: 22px;
	z-index: 9;
	position: absolute;
	top:0;
	right:0;
	background-color: rgba(255, 255, 255, 0.5);
}
#left-indiv .porduct-star .icon, #com2 .porduct-star .icon {
	display: inline-block;
	width: 16px;
	height: 16px;
}
#left-indiv .porduct-star .star {
	margin-bottom:5px;
	background: url(../images/icons/star.png) no-repeat right;
	text-indent: -10000px;
}
#left-indiv .product-1 h2, #com2 .product-1 h2 {
	font-size: 15px;
	color: #353535;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	float: left;
	margin: 5px 0;
	padding: 0;
}
#left-indiv .product-1 h3, #com2 .product-1 h3 {
	width: 65px;
	height: 24px;
	line-height:24px;
	margin: 8px 0 0 0;
	padding: 0px 0 0 4px;
	float: right;
	border: 1px solid #999;
	background: url(../images/icons/shop.jpg) no-repeat right;
}
#left-indiv .product-1 h3:hover, #com2 .product-1 h3:hover {
	background: url(../images/icons/shop_h.jpg) no-repeat right;
	border: 1px solid #0b9444;
	color: #0b9444;
}
#left-indiv .product-1 img.file_type, #com2 .product-1 img.file_type {
	position:absolute;
	bottom:8px;
	left:52px;
	margin-top:5px;
	margin-left:15px;
}
#left-indiv .product-2, #com2 .product-2 {
	width: 163px;
	height: 195px;
	background: #ebf3ee;
	border: 1px solid #0b9444;
}
#left-indiv .product-2 img, #com2 .product-2 img {
	margin: 10px 12px;
}
#left-indiv .product-2 h1, #com2 .product-2 h1 {
	margin: 0 0 0 12px;
	color: #ef4036;
	padding: 0;
	font-size: 20px;
}
#left-indiv .product-2 p, #com2 .product-2 p {
	font-size: 11px;
	margin: 0;
	text-align: left;
	padding: 0px 10px;
}
#cont, div.pagination {
	width: 100%;
	height: 30px;
	float: right;
	background: none;
}
#cont li a[href="#"], #cont li a:hover, div.pagination a.active, div.pagination a:hover {
	background: #0b9444;
	padding: 3px 8px;
	color: #fff;
	margin: 0;
}
#cont ul {
	float:right;
	margin: 0;
	margin-right:20px;
	padding: 0;
}
#cont li {
	list-style: none;
	float: left;
	padding: 5px 5px;
}
#cont a, div.pagination a {
	padding: 3px 8px;
	font-size: 12pxpx;
	font-weight: bold;
	color: #666;
	margin: 0 0px 0 0;
}
/* end product page */

/* start product view page */

/* details section */
.tab_container #left-indiv {
	float:left;
	width:165px;
	border:0;
}
.tab_container #left-indiv .product-2 {
	margin-top:30px;
	margin-bottom:30px;
	margin-left:20px;
}
.Details {
	width: 380px;
	margin-left:20px;
	float: left;
	padding-bottom:20px;
}
.Details h4 {
	font-size: 20px;
	margin: 10px;
	margin-left:15px;
	letter-spacing: 1px;
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	color: #ef4036;
	font-weight:normal;
}
.Details h5 {
	font-size: 20px;
	color: #0b9444;
	float: left;
	margin: 0 0 0 12px;
}
.Details1 {
	width: 129px;
	height: 31px;
	background: none;
	float: left;
}
.Details .desc {
	width:92%;
	margin-left:20px;
	float:right;
}
#wishlist, #wishlist_remove {
	color: #0b9444;
	font-size: 14px;
	border: 1px solid #0b9444;
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/icons/wishlist.gif) no-repeat right;
	padding: 2px;
	margin: 0 0 0 10px;
	float: left;
	text-align:left;
	width: 60px;
	padding:3px;
	cursor:pointer;
}
#wishlist_remove {
	width: 90px;
}
#add_cart {
	color: #0b9444;
	font-size: 14px;
	border: 1px solid #0b9444;
	font-family: Arial, Helvetica, sans-serif;
	background: url(../images/icons/cort_.jpg) no-repeat right;
	padding: 2px;
	margin: 0 0 0 10px;
	float: left;
	text-align:left;
	width: 60px;
	padding:3px;
	cursor:pointer;
}
#add_cart:hover {
	color: #ef4036;
	border: 1px solid #ef4036;
	background: url(../images/icons/cort_h.jpg) no-repeat right;
}
.Details2 {
	width: 38px;
	height: 21px;
	float: right;
	border: 1px solid #0b9444;
	background: none;
}
.Details2 h5 {
	color: #0b9444;
	font-size: 14px;
	width: 10px;
	height: 22px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 3px;
	margin: 0;
	float: left;
}
.Details3 {
	width: 10px;
	height: 20px;
	background: none;
	float: right;
	margin: 0;
}
.Details3 img {
	margin: 0;
	padding: 0;
}

/* figure section */

/* review section */
.searc {
	border: 1px solid #a0a0a0;
	border-radius: 2px;
	float: left;
	margin: 0 0 0 20px;
}
#reviews-main {
	width: 548px;
	margin: 0 auto;
	padding: 20px 0 15px 0;
	background: #f3faf5;
}
.reviews-main1 {
	width: 88%;
	padding-bottom:10px;
	margin: 10px 0 30px 34px;
	background: #fefffe;
}
.reviews-main1 h4 {
	font-size: 12px;
	padding: 30px 0 0 30px;
	color: #ef4036;
	font-family: Arial, Helvetica, sans-serif;
}

/* question section */
#left-question {
	width: 620px;
	height: auto;
	background: none;
	float: left;
	margin: -9px 0 20px 20px;
	padding: 0;
}
#left-question h2 {
	margin: 0 0 0 0px;
	font-size: 41px;
	color: #16994c;
	padding: 20px 20px;
}
#left-question h3 {
	font-size: 30px;
	color: #ef4036;
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	margin: 0 0 0 0px;
	font-weight:normal;
}
#left-question span.doc {
	width: 200px;
	height: 124px;
	float: right;
	margin: 26px 0;
}
#left-question span h1 {
	padding: 0;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #ef4036;
	text-transform: uppercase;
	letter-spacing: 0px;
}
#tab4 .reviews-main1 input {
	width:50px;
}
#tab4 .reviews-main1 {
	position:relative;
	margin:0px !important;
}
.text {
	font-size: 12px;
	color: #000;
}

/* seller section */
.seller {
	width: 609px;
	height: 282px;
	background: none;
	margin: 20px 0;
}
.seller .name {
	width: 147px;
	height: 218px;
	float: left;
}
.seller .name .img {
	position:relative;
	width: 135px;
	height: 155px;
	margin: 20px;
	border: 1px solid #0b9444;
	padding: 0;
}
.seller .name h5 {
	font-size: 16px;
	margin: -18px 0 0 20px;
	width: 134px;
	padding: 0;
	border: 1px solid #0b9444;
	text-align: center;
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	color: #ef4036;
	letter-spacing: 1px;
	font-weight:normal;
}
.seller .right {
	width: 440px;
	margin: 20px 0;
	padding-bottom:13px;
	background: #edf4f0;
	float: right;
}
.seller .right h4 {
	font-size: 20px;
	margin: 10px;
	letter-spacing: 1px;
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	color: #0b9444;
	font-weight:normal;
}
.seller .right p {
	text-align: left;
}
.seller .right h5 {
	font-size: 14px;
	font-weight: normal;
	text-decoration: underline;
	color: #ec4c42;
	float: right;
	margin: 10px 0;
	margin: 0;
}
.seller .right h5:hover {
	color:#0b9444;
}
/* end product view page*/

/* start notification page */
.notification {
	width: 812px;
	height: 116px;
	margin: 0 0 20px 30px;
	background: #d1d0d0;
	text-align:justify !important;
}
.notification p {
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	float: left !important;
	width:80% !important;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 10px 0 0 10px;
	padding-left:2% !important;
}
.notification .header {
	width: 812px;
	height: 25px;
	background: #333333;
}
.notification .header h4 {
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	float: left;
	margin: 0px 0px 10px 5px;
	padding: 3px 26px;
	background: url(../images/dot.jpg) no-repeat 0px 6px;
}
.notification .header h5 {
	font-size: 12px;
	font-weight: normal;
	color: #00CC00;
	margin: 5px 0 0 0;
	float: right;
}
td {
	padding: 0px 0 0px 0;
}
/* end notification page */

/* start place order page */
.place_order {
	width: 820px;
	height: 164px;
	background: #333333;
	border: 1px solid #929292;
	border-top: none;
	margin: 0 0 20px 10px;
	padding: 10px;
}
.place_order .side1 {
	width: 170px;
	height: 159px;
	float: left;
	border: 3px solid #289d4d;
	padding: 0;
	margin: 0;
	border-radius: 4px;
	background: url(../images/notification-img.jpg) no-repeat;
}
.place_order .side2 {
	width: 253px;
	height: 150px;
	float: left;
	margin: 0 0 0 20px;
	border-bottom: 1px solid #9d9ea4;
	background: #333333;
}
.place_order .side3 {
	width: 253px;
	height: 64px;
	margin: 5px 0;
	border-bottom: 1px solid #9d9ea4;
}
.place_order .side3 b {
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
.place_order .side3 h4 {
	font-size: 22px;
	margin: 5px 0 10px 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	font-weight: normal;
}
.bottom1 {
	width: 840px;
	height: 33px;
	float: left;
	border: 1px solid #929292;
	border-top: none;
	margin: 0 10px;
	background: #333333;
}
.bottom1 h4 {
	font-size: 20px;
	font-weight: normal;
	color: #fff;
	float: right;
	margin: 3px 0;
}
.bottom-button {
	width: 112px;
	height: 32px;
	float: right;
	border-radius: 3px;
	margin: 20px 34px 50px 0;
	padding: 0;
	background: #0b9444;
}
.bottom-button:hover, .bottom-button:hover .bottom-button1, .bottom-button:hover .bottom-button2 {
	background: #ef4036;
}
.bottom-button:hover .bottom-button2 {
	border: 1px solid #f79791;
}
.bottom-button1 {
	width: 104px;
	height: 24px;
	margin: 3px;
	background: #0b9444;
	border-radius: 3px;
	border: 1px solid #ceeada;
}
.bottom-button2 {
	width: 98px;
	height: 18px;
	margin: 2px 2px;
	background: #0b9444;
	border-radius: 3px;
	border: 1px solid #6dbf8f;
}
.bottom-button2 h3, #generate {
	font-size: 11px;
	color: #FFF;
	margin: 2px 13px;
	padding: 0;
	text-align:center;
	font-weight: normal;
}
/* end place order page */


/* start reports page */
#report {
	width: 824px;
	height: 171px;
	background: none;
	margin: 0 0 0 30px;
}
#report .report1 {
	width: 180px;
	height: 21px;
	border: none;
	font-size: 12px;
	font-weight: bold;
	padding: 3px 5px;
	color: #000;
	float: left;
	background: #CCCCCC url(../images/calendar-green.gif) no-repeat right;
}
#report .report h4 {
	font-weight: normal;
	padding: 3px 10px;
	color: #ffffff;
}
#report h3 {
	font-weight: normal;
	padding: 3px 15px;
	color: #333333;
	float: left;
}
#report .styled-select select {
	background: transparent;
	width: 220px !important;
	padding: 5px;
	font-size: 12px;
	color: #333333;
	line-height: 12px;
	height: 25px;
	-webkit-appearance: none;
}
#report .styled-select {
	width: 200px;
	height: 25px;
	border-radius:0 !important;
	overflow: hidden;
	background: url(../images/selectarrow.png) no-repeat right #fff;
	border: 1px solid #ccc;
}
#report .bottom-button {
	margin-top:-30px !important;
}
#generate {
	font-size:14px !important;
	border:0;
	background:none;
	cursor:pointer;
}
/* end reports page */

/* start my sales page */
.mysales .head {
	background:#333333;
	color:#fff;
	font-size:14px;
	font-weight:normal;
	text-align:left;
	height:35px;
}
/* end my sales page */

/* start contact us page css  */
#contact-page {
	width:565px;
	float:left;
	background:none;
}
div.success {
	margin-left:20px;
	margin-right:10px;
	margin-top:20px;
	color:#090;
	line-height:20px;
}
div.error {
	margin-left:20px;
	margin-top:20px;
	color:#f30;
	line-height:20px;
}
div.error strong {
	font-weight:normal !important;
}
#contact-page .form {
	width:509px;
	margin:20px 30px;
	border:1px solid #0b9444;
}
#contact-page .form .text-box {
	width:328px;
	height:20px;
	margin:0 20px;
	padding:0;
	border-radius:3px;
	border:1px solid #a0a0a0;
}
#contact-page .form .text-box1 {
	width:324px;
	min-height:139px;
	margin:0 23px;
	border-radius:3px;
	border:1px solid #a0a0a0;
}
.font {
	font-size:12px;
	color:#5c5c5c;
}
#contact-page #ans-sub {
	width:73px;
	height:23px;
	background:#0b9444;
	border:none;
	float:right;
	border-radius:3px;
	color:#FFF;
	font-size:13px;
	font-weight:bold;
	margin:40px 45px 0 0;
	cursor:pointer;
}

.right {
	width:296px;
	float:right;
	margin:10px 0;
	background:none;
}

.right h3 {
	font-size:30px;
	color:#16994c;
	font-weight:normal;
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	letter-spacing:1px;
}
.right h4 {
	font-size:14px;
	color:#5c5c5c;
	margin:-10px 0 20px 20px;
	font-weight:normal;
	padding:0;
}
.right p {
	font-size:14px;
	font-weight:normal;
	text-align:justify;
	color:#5c5c5c;
	margin:10px 0;
	padding:0;
}
/* end contact us page css  */

/* start seller page css  */	

#seller {
	width:609px;
	height:282px;
	background:none;
	margin:20px 0;
}

#seller .name {
	width:147px;
	height:218px;
	float:left;
}

#seller .name .img {
	width:135px;
	height:185px;
	margin:20px;
	border:1px solid #0b9444;
	padding:2px;
}
#seller .name h5 {
	font-size:16px;
	margin:-18px 0 0 20px;
	width:134px;
	padding:0;
	font-weight:normal;
	border:1px solid #0b9444;
	text-align:center;
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	color:#ef4036;
	letter-spacing: 1px;
}

#seller .right {
	width:440px;
	height:214px;
	margin:20px 0;
	background:#edf4f0;
	float:right;
}

#seller .right h4 {
	font-size:20px;
	margin:10px;
	letter-spacing: 1px;
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	color:#0b9444;
}
#seller .right p {
	text-align:left;
}
#seller .right h5 {
	font-size:14px;
	font-weight:normal;
	text-decoration:underline;
	color:#ec4c42;
	float:right;
	margin:10px 0;
	margin:0;
}
/* end seller page css  */

/* start shopping cart page */
.shopping-cart {
	width: 800px;
	margin: 0px 0 0 30px;
	padding: 0;
}
.shopping-cart .title {
	border-bottom: 1px solid #999;
	height:20px;
	margin-bottom:20px;
}
.shopping-cart h4 {
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #353535;
	float: left;
	margin: 0 170px 0 0px;
	padding: 0;
}
.shopping-cart f {
	font-size: 14px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	color: #353535;
	float: left;
	margin: 0 170px 0 44px;
	padding: 0;
}
.shopping-cart1 {
	width: 100%;
	height: 135px;
	float: left;
	margin: 14px 0px;
	background: none;
	border-bottom: 1px solid #999;
	position:relative;
	vertical-align:top;
}
.shopping-cart1:last-child {
	border:0;
	margin-bottom:60px;
}
.shopping-cart1 img.pro_pic {
	display:inline-block;
	max-height:129px;
	max-width:100px;
}
.shopping-cart1 .content_part {
	display:inline-block;
	margin-left:130px;
	min-height:129px;
	vertical-align:top;
}
.shopping-cart1 .content_part h3 {
	font-size: 20px;
	color: #ef4036;
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}
.shopping-cart1 .content_part b {
	font-size: 11px;
	font-weight: normal;
	color: #666;
	margin: 0;
	padding: 0;
}
.shopping-cart1 .content_part h6 {
	font-size: 19px;
	color: #353535;
	margin: 40px 0 0 0;
	position:absolute;
	top:-30px;
	right:160px;
}
.content_part h5 {
	font-size: 11px;
	color: #666;
	margin: 20px 0px;
	font-weight: normal;
	text-decoration: underline;
	cursor:pointer;
}
.content_part h5:hover {
	color:#ef4036;
}
.shopping-cart-bottom {
	width: 827px;
	min-height: 380px;
	margin: 0 30px;
	background: url(../images/shopping-cart_3.jpg) repeat-x;
	border: 1px solid #dcdcdc;
	float:left;
}
.shopping-contact {
	width: 510px;
	min-height: 241px;
	float: left;
	margin: 40px 0 0 20px;
	background: #f6f6f6;
}
.shopping-contact h3 {
	font-size: 14px;
	color: #353535;
	text-transform: uppercase;
	font-weight: normal;
	margin: 20px 5px;
}
.shopping-contact .text-box {
	width: 328px;
	height: 20px;
	margin: 0 20px;
	padding: 0;
	border-radius: 3px;
	border: 1px solid #a0a0a0;
}
.sho {
	width: 270px;
	height: 240px;
	float: left;
	background: none;
}
.shopping-cart-right {
	width: 219px;
	height: 132px;
	background: none;
	margin: 40px 20px;
}
.shopping-cart-right h3 {
	font-size: 18px;
	color: #353535;
	text-transform: uppercase;
}
.shopping-cart-button {
	width: 192px;
	height: 50px;
	float: left;
	border-radius: 3px;
	padding: 0;
	background: #0b9444;
}
.shopping-cart-button:hover, .shopping-cart-button:hover .shopping-cart-button1, .shopping-cart-button:hover .shopping-cart-button2 {
	background: #ef4036;
}
.shopping-cart-button1 {
	width: 178px;
	height: 42px;
	margin: 3px 5px;
	background: #0b9444;
	border-radius: 3px;
	border: 1px solid #ceeada;
}
.shopping-cart-button2 {
	width: 173px;
	height: 37px;
	margin: 2px 2px;
	background: #0b9444;
	border-radius: 3px;
	border: 1px solid #6dbf8f;
	font-size: 14px;
	color: #FFF;
	text-align: center;
	font-weight: bold;
	cursor:pointer;
}
.shopping-cart-button:hover .shopping-cart-button2:hover {
	border: 1px solid #f49d98;
}
.shopping-cart-bottom h5 {
	font-size: 14px;
	color: #0b9444;
	margin: 30px 20px;
	text-transform: uppercase;
}
/* end shopping cart page */

/* start profile page */
#profil-page {
	width:553px;
	margin:0 0 30px 0;
	float:left;
	background:none;
}

#profil-page b {
	margin:0;
	color:#000;
	font-size:12px;
}

#profil-page .text {
	width:259px;
	height:25px;
	background:#333333;
	color:#fff;
	margin:0px 0 0 0px;
	padding:0;
	padding-left:5px;
	border-top:none;
	border-right:none;
	border-left:1px solid #9f9f9f;
	border-bottom:1px solid #9f9f9f;
}
#edit {
	width:74px;
	height:44px;
	float:right;
	text-align:right;
	font-weight:bold;
	border:0;
	cursor:pointer;
	background:url(../images/icons/edit.jpg) #fff no-repeat left;
}
#profil-page #update {
	width:84px;
	height:44px;
	margin:20px 0;
	text-align:right;
	font-weight:bold;
	border:0;
	cursor:pointer;
	background:url(../images/icons/update.jpg) #fff no-repeat left;
}
#profile-pro {
	width:245px;
	float:right;
	text-align:center;
	border:1px solid #000;
	margin:0 4px 0 0;
}
/* end profile page */

/* start FAQ page */
.faq {
	width:90%;
	padding:10px;
	margin:5px 0 5px 30px;
	background:#ebf3ee;
}
.faq1 {
	width:90%;
	padding:10px;
	margin:5px 0 5px 30px;
	background:#f8edec;
}
.faq b {
	font-size:14px;
	margin:10px;
	color:#3a3a3a;
}
/* end FAQ page */

/* start site map page */
.site-map {
	height:auto;
	padding: 20px 0;
	background: #a5c5ae;
}
.site-map1 {
	height:auto;
	margin: 0 0 0 -2px;
	/*background: #16994c;*/
}
.site-map-left {
	padding: 0;
	height:auto;
	margin: 30px 0 0 0px;
	background: none;
}
.site-map-left .home {
	background: #16994c;
	height:61px;
	vertical-align:middle;
	line-height:61px;
}
.site-map-left h3 {
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	margin: 0 0 0 36px;
	padding: 0 0 0 30px;
	background: url(../images/sitemap/sit-1.png) no-repeat left;
}
.site-map-left ul {
	list-style: none;
	height:auto;
	margin: 12px 0 0 40px;
	padding: 0 15px 15px 40px;
	border-left: 2px solid #fff;
}
.site-map-left li {
	line-height: 22px;
	margin: 0 0 0 -40px;
	padding: 0;
}
.site-map-left img {
	padding: 20px 10px 0 0;
}
.site-map-left ul li a {
	font-size: 18px;
	margin: 0;
	font-weight: normal;
	color: #000;
}
.site-map-left ul li a:hover {
	color: #16994c;
}
/* end site map page */

/*============ start Buyer-page css ============*/	
.buyer-page {
	width: 100%;
	position: relative;
	min-height: 750px;
}
.buyer-page .deliveryinformation {
	width: 380px;
	position: absolute;
	top: 0;
	left: 0;
}
.buyer-page .deliveryinformationcont {
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	background: #484848;
	border-bottom: 1px solid #9d9d9d;
	border-radius: 4px;
	position: absolute;
	top: 0;
	left: 75px;
}
.buyer-page .deliveryinformationcont h4 {
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #fff;
	margin: 0 0px;
	letter-spacing: 1px;
	padding: 0;
	font-weight:normal;
	line-height:30px;
}
.buyer-page .deliveryinformationimg {
	width: 253px;
	height: 253px;
	position: absolute;
	top: 10px;
	left: 150px;
}
.buyer-page .arrow1 {
	width: 36px;
	hanging-punctuation: 33px;
	position: absolute;
	top: 90px;
	left: 420px;
}
.buyer-page .subjectleve {
	width: 380px;
	position: absolute;
	top: 0;
	left: 460px;
}
.buyer-page .subjectlevecont {
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	background: #484848;
	border-bottom: 1px solid #9d9d9d;
	border-radius: 4px;
	position: absolute;
	top: 20px;
	left: 180px;
}
.buyer-page .subjectlevecont h4 {
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #fff;
	margin: 0 0px;
	letter-spacing: 1px;
	padding: 0;
	font-weight:normal;
	line-height:30px;
}
.buyer-page .subjectleveimg {
	width: 253px;
	height: 253px;
	position: absolute;
	top: 40px;
	left: 0px;
}
.buyer-page .arrow2 {
	width: 36px;
	hanging-punctuation: 33px;
	position: absolute;
	top: 300px;
	left: 100px;
}
.buyer-page .sellerrating {
	width: 380px;
	position: absolute;
	top: 310px;
	left: 565px;
}
.buyer-page .sellerratingcont {
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	background: #484848;
	border-bottom: 1px solid #9d9d9d;
	border-radius: 4px;
	position: absolute;
	top: 255px;
	left: 130px;
}
.buyer-page .sellerratingcont h4 {
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #fff;
	margin: 0 0px;
	letter-spacing: 1px;
	padding: 0;
	font-weight:normal;
	line-height:30px;
}
.buyer-page .sellerratingimg {
	width: 253px;
	height: 253px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.buyer-page .arrow3 {
	width: 36px;
	hanging-punctuation: 33px;
	position: absolute;
	top: 220px;
	left: 0px;
}
.buyer-page .paymenygateway {
	width: 380px;
	position: absolute;
	top: 430px;
	left: 240px;
}
.buyer-page .paymenygatewaycont {
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	background: #484848;
	border-bottom: 1px solid #9d9d9d;
	border-radius: 4px;
	position: absolute;
	top: 0px;
	left: 85px;
}
.buyer-page .paymenygatewaycont h4 {
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #fff;
	margin: 0 0px;
	letter-spacing: 1px;
	padding: 0;
	font-weight:normal;
	line-height:30px;
}
.buyer-page .paymenygatewayimg {
	width: 253px;
	height: 253px;
	position: absolute;
	top: 35px;
	left: 50px;
}
.buyer-page .arrow4 {
	width: 36px;
	hanging-punctuation: 33px;
	position: absolute;
	top: 70px;
	left: 0px;
}
.buyer-page .productrating {
	width: 380px;
	position: absolute;
	top: 285px;
	left: 25px;
}
.buyer-page .productratingcont {
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	background: #484848;
	border-bottom: 1px solid #9d9d9d;
	border-radius: 4px;
	position: absolute;
	top: 230px;
	left: 0px;
}
.buyer-page .productratingcont h4 {
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #fff;
	margin: 0 0px;
	letter-spacing: 1px;
	padding: 0;
	font-weight:normal;
	line-height:30px;
}
.buyer-page .productratingimg {
	width: 253px;
	height: 253px;
	position: absolute;
	top: 0px;
	left: 22px;
}
.buyer-page .buyer-tag {
	width: 167px;
	height: 133px;
	position: absolute;
	top: 245px;
	left: 333px;
}

/*============ start saller-page css ============*/
.saller-page {
	width: 899px;
	height: 852px;
	float: left;
	background: none;
}
.Registration {
	width: 411px;
	height: 260px;
	background: none;
}
.Registration img {
	margin: 100px 0px 0 0;
	float: right;
}
.Registration .left {
	width: 127px;
	height: 30px;
	margin: 0 0 0 0px;
	background: #484848;
	border-bottom: 1px solid #9d9d9d;
	border-radius: 4px;
}
.Registration .left h4 {
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #fff;
	margin: 0 0px;
	letter-spacing: 1px;
	font-weight:normal;
	line-height:30px;
}
.seller-profile-css {
	width: 330px;
	height: 281px;
	float: right;
	margin: 0 150px 0 0;
	background: none;
}
.seller-profile-css span {
	float: left
}
.seller-profile-css .right1 {
	width: 140px;
	height: 30px;
	float: right;
	margin: 0;
	background: #484848;
	border-bottom: 1px solid #9d9d9d;
	border-radius: 4px;
}
.seller-profile-css .right1 h4 {
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #fff;
	margin: 0 0px;
	letter-spacing: 1px;
	font-weight:normal;
	line-height:30px;
}
.main-img {
	width: 193px;
	height: 137px;
	margin: 80px 0 0 330px;
	background: none;
	float: left;
}
.main-img img {
	margin: 0;
}
.product-information {
	width: 257px;
	height: 300px;
	margin: -10px 20px 0 0;
	float: right;
	background: none;
}
.product-information .left {
	width: 195px;
	height: 30px;
	margin: 0 0 10px 60px;
	background: #484848;
	border-bottom: 1px solid #9d9d9d;
	border-radius: 4px;
}
.product-information .left h4 {
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #fff;
	margin: 0 0px;
	letter-spacing: 1px;
	font-weight:normal;
	line-height:30px;
}
.uploadproducts {
	width: 253px;
	height: 253px;
	position: absolute;
	top: 500px;
	left: 390px;
}
.uploadproductscont {
	padding: 0 10px;
	height: 30px;
	background: #484848;
	border-bottom: 1px solid #9d9d9d;
	border-radius: 4px;
	position: absolute;
	top: 20px;
	left: 0;
}
.uploadproductscont h4 {
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #fff;
	margin: 0 0px;
	letter-spacing: 1px;
	padding: 0;
	font-weight:normal;
	line-height:30px;
}
.uploadproductsimg {
	position: absolute;
	top: 50px;
	left: 40px;
}
.uploadproductsarrow {
	position: absolute;
	top: 140px;
	left: 0;
}
.paymentdelevery2 {
	width: 253px;
	height: 253px;
	position: absolute;
	top: 500px;
	left: 90px;
}
.paymentdelevery2cont {
	padding: 0 10px;
	height: 30px;
	background: #484848;
	border-bottom: 1px solid #9d9d9d;
	border-radius: 4px;
	position: absolute;
	top: 50px;
	left: -80px;
}
.paymentdelevery2cont h4 {
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #fff;
	margin: 0 0px;
	letter-spacing: 1px;
	padding: 0;
	font-weight:normal;
	line-height:30px;
}
.paymentdelevery2img {
	position: absolute;
	top: 50px;
	left: 40px;
}
.paymentdelevery2arrow {
	position: absolute;
	top: 10px;
	left: 130px;
}
.saller-page-bottom {
	width: 100%;
	position: relative;
	min-height: 650px;
}
.sallerpro {
	width: 253px;
	height: 253px;
	position: absolute;
	top: 75px;
	left: 75px;
}
.sallerprocont {
	padding: 0 10px;
	height: 30px;
	background: #484848;
	border-bottom: 1px solid #9d9d9d;
	border-radius: 4px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.sallerprocont h4 {
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #fff;
	margin: 0 0px;
	letter-spacing: 1px;
	padding: 0;
	font-weight:normal;
	line-height:30px;
}
.sallerproimg {
	position: absolute;
	top: 35px;
	left: 0px;
}
.sallerproarrow {
	position: absolute;
	top: 250px;
	left: 215px;
}
.pricing {
	width: 253px;
	height: 253px;
	position: absolute;
	top: 75px;
	left: 520px;
}
.pricingcont {
	padding: 0 10px;
	height: 30px;
	background: #484848;
	border-bottom: 1px solid #9d9d9d;
	border-radius: 4px;
	position: absolute;
	top: 0px;
	left: 190px;
}
.pricingcont h4 {
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #fff;
	margin: 0 0px;
	letter-spacing: 1px;
	padding: 0;
	font-weight:normal;
	line-height:30px;
}
.pricingimg {
	position: absolute;
	top: 36px;
	left: 38px;
}
.pricingarrow {
	position: absolute;
	top: 245px;
	left: 5px;
}
.productinformation {
	width: 253px;
	height: 253px;
	position: absolute;
	top: 310px;
	left: 310px;
}
.productinformationcont {
	padding: 0 10px;
	height: 30px;
	background: #484848;
	border-bottom: 1px solid #9d9d9d;
	border-radius: 4px;
	position: absolute;
	top: 0px;
	left: 50px;
}
.productinformationcont h4 {
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #fff;
	margin: 0 0px;
	letter-spacing: 1px;
	padding: 0;
	font-weight:normal;
	line-height:30px;
}
.productinformationmg {
	position: absolute;
	top: 35px;
	left: 0px;
}
.sellerimg {
	position: absolute;
	top: 0;
	left: 350px;
}
.salesrecord {
	padding: 0 10px;
	height: 30px;
	background: #484848;
	border-bottom: 1px solid #9d9d9d;
	border-radius: 4px;
	position: absolute;
	top: 240px;
	left: 10px;
}
.salesrecord h4 {
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #fff;
	margin: 0 0px;
	letter-spacing: 1px;
	padding: 0;
	font-weight:normal;
	line-height:30px;
}
#sales-records {
	position: absolute;
	left: -22px;
	top: 181px;
	width: 287px;
	height: 204px;
	z-index: 1;
}
/*============ start saller-page css ============*/

@media \0screen {
	body {
		font-family:"Arial", sans-serif !important;
		font-size:14px !important;
	}
	#main-content h1 {font-size: 28px !important; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif !important;}
	#main-content #content-div h1 {font-size: 22px !important; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif !important;}
	#main-content #content-div ul li h1 {font-size: 14px !important; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif !important;}
	#main-content #sub_section h1 {font-size: 26px !important; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif !important; letter-spacing:normal !important;}
	#main-content h2 {font-size: 20px !important; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif !important;}
	#div-left h1 {font-size: 18px !important; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif !important;}
	#left-indiv .product-1 .product-2 h1 {font-size:16px !important; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif !important; margin-top:-5px !important;}
	#left-indiv .product-1 .footer h2 {font-size:14px !important; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif !important;}
	#right-indiv h1 {font-size: 18px !important; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif !important;}
	#left-question .doc h1 {font-size: 18px !important; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif !important;}
	#left-question h3 {font-size: 26px !important; font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif !important;}
	.site-map-left .cms {font-size: 18px !important;}
	.tree li input[type="checkbox"] {visibility:hidden !important; }
	
	.search_box {
		float: right;
		display: block;
		position: absolute;
		top: 60px;
		right: 30px;
		z-index: 9;
		width: 240px;
		background: none;
	}
	#quick_links {
		display: inline-block;
		width: 50%;
		min-height: 100px;
		float: right;
	}
	.login_cart .cart {
		margin: 0px 0 0 0;
	}
	.bg_red {
		background: #bf5447;
	}
	.bg_green {
		background-color: #09934e;
	}
	.right h3 {
		font-size: 20px;
	}
	.font {
		font-size: 9px;
	}
	nav ul {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 14px;
	}
	nav ul a, nav ul a:visited {
		padding: 5px 21px 5px 20px;
	}
	.top_sellers .item {
		margin-right: 20px;
	}
	.search_box .title .ll_tit {
		font-size: 18px;
	}
	.welcome .icon {
		margin: 0 0 0 60px;
	}
	#left-indiv .product-2 h1 {
		font-size: 15px;
	}
	#left-indiv .product-2 p {
	{
	font-size:9px;
	}
	.para-nav {
		font-size:11px !important;
	}
}