/* Layout Defaults
----------------------------------------------------------------------------------------------------*/
#question_acord_content .banner_content {
	width: 478px;
	background: none;
	padding: 0px;
	margin: 0px 40px;
}
.banner_content .text_cont {
	background: #EE3024;
	color: #FFF;
	opacity: 0.7;
}
.banner_content h4 {
	color: #FFF;
	font-weight: bold;
	font-size: 24px;
	margin: 5px 5px 0px 0px;
	padding: 0px;
	text-transform: uppercase;
	text-align: right;
}
.banner_content h5 {
	margin: 0px 0px 10px 0px;
	padding: 0px;
	text-align: right;
}
.banner_content h6 {
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 10px 5px;
	text-align: right;
}
.banner_content .wk-accordion-default {
	margin-top: 20px;
}
.banner_content .wk-accordion-default .toggler {
	background: #1d9c52 url(../images/accordion_bg_teg.png) no-repeat top right;
	border: none;
	border-radius: 0px;
	margin: 1px;
	padding: 12px 55px;
	font-size: 12px;
	color: #FFF;
	font-weight: bold;
	cursor: pointer !important;
	text-align: left;
}
.banner_content .wk-accordion-default .toggler.active {
	background: #1d9c52 url(../images/accordion_bg_teg_active.png) no-repeat top right;
}
.banner_content .wk-accordion-default .toggler.active p {
	color: #FFF;
	float: left;
	width: 380px;
	padding: 0;
	font-size: 12px;
	text-align: left;
}
.ans {
	width: 350px;
	border-radius: 4px;
	margin: 0;
	border: 1px solid #999;
	height: 100px;
}
.ans-sub {
	float: left;
	background: #0b9444;
	border-radius: 4px;
	border: none;
	padding: 5px;
	width: 80px;
	color: #FFF;
	font-size: 12px;
	text-transform:uppercase;
	margin: 10px 0 60px -110px;
}
#cont1 {
	width: 160px;
	height: 30px;
	margin: 50px 0 20px 200px;
	background: none;
}
#cont1 .first {
	background: #0b9444;
	padding: 3px 8px;
	color: #fff;
	margin: 0;
}
#cont1 ul {
	margin: 0;
	padding: 0;
}
#cont1 li {
	list-style: none;
	float: left;
	padding: 5px 5px;
}
#cont1 a {
	font-size: 12pxpx;
	font-weight: bold;
	color: #666;
	text-align: center;
	margin: 0 0px 0 0;
}