/* === the dark full screen background, which appears on form pop-up === */
#background-on-popup {
    z-index: 9990;
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    background: #000000;
    top: 0px;
    left: 0px;
}

/* === The X-mark from the top-right corner of the pop-up form, from which you can close the box === */
div.close {
    background: url("../images/login/closebox.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: right;
    height: 16px;
    top: 10px;
    right: 10px;
    position: relative;
    width: 16px;
}

/* ==== Wrapper of the forms ==== */
#sign-in-form, #forgot-form, #success {
	max-width: 480px;
	min-width: 280px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	position: absolute;
	display: none;
	left: 50%;
    top: 20%;
	margin-left: -240px;
    border-radius: 4px;
    z-index: 9999;
}

#register-form {
	max-width: 520px;
	min-width: 250px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	position: absolute;
	display: none;
	left: 50%;
	top: 8%;
	margin-left: -240px;
    border-radius: 4px;
    z-index: 9999;
}

/* ==== The form section styling of elements ==== */
#form-section {
	border-radius: 4px;
	background: rgba(255,255,255,0.8); /* here you can change the background color of the form */
	padding: 30px;
}

#form-section li {
	list-style: none;
}

#form-section label span {
	cursor: pointer;
	color: #333;
	display: block;
	margin: 5px 0;
	font-size: 15px;
}

.left-column { /* left column from the two column input row */
	float: left;
	width: 48%;
}

.right-column { /* right column from the two column input row */
	width: 48%;
	float: right;
}

@media (max-width: 380px) { /* takes care of the responsive behavior of the two column inputs */
	.left-column {
		width: 100%;
	}

	.right-column {
		width: 100%;
	}
}

@media (max-width: 480px) { /* takes care of the responsive behavior of the pop-up forms */
	#register-form, #sign-in-form {
		margin-left: 0;
		left: 0;
	}
}

/* ==== Inputs and Buttons of the form, with hover and focus behavior ==== */
#form-section input[type="text"], #form-section input[type="password"], #form-section input[type="email"], #form-section input[type="tel"] { /* here you can change the properties of the input fields */
	width: 90%;
	border: 1px solid #3D484C;
	margin: 0 0 5px;
	padding: 8px;
	border-radius: 5px;
	font-size: 12px;
	padding-right: 25px;
	color: #333;
}

#form-section input[type="text"]:hover, #form-section input[type="password"]:hover, #form-section input[type="email"]:hover, #form-section input[type="tel"]:hover {
	border: 1px solid #666;
	-webkit-transition: border-color 0.2s ease-in-out;
	-moz-transition: border-color 0.2s ease-in-out;
	-o-transition: border-color 0.2s ease-in-out;
	-ms-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
}

#form-section button[type="button"] { /* here you can change the properties of the submit button */
	cursor: pointer;
	width: 194px;
	height: 50px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #0b9444;
	border: none;
	margin: 20px 0 5px;
	display: block;
}
#form-section button[type="button"] .bold {
	width: 182px;
	height: 40px;
	-webkit-border-radius: 8px/8px 8px 7px 7px;
	-moz-border-radius: 8px/8px 8px 7px 7px;
	border-radius: 8px/8px 8px 7px 7px;
	border:1px solid #c6e6d3;
}

#form-section button[type="button"] .thin {
	width: 176px;
	height: 34px;
	margin-top:2px;
	margin-left:2px;
	-webkit-border-radius: 7px/6px;
	-moz-border-radius: 7px/6px;
	border-radius: 7px/6px;
	border:1px solid #61ba86;
	line-height: 34px;
	text-transform:uppercase;
	font-weight:bold;
	color: #FFF;
	font-size: 14px;
}

#form-section button[type="button"]:hover {
	background-color: #ef4036;
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	-o-transition: background 0.3s ease-in-out;
	-ms-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

#form-section button[type="button"]:hover .thin {
	border:1px solid #f8a29e !important;
}

#form-section input:focus {
	outline: 0;
	border: 1px solid #666;
}

#form-section label.rem-me {
	font-size: 12px;
	color:#333;
}

/* === The section numbering from the registration form === */
#form-section p {
	padding-bottom: 15px;
	margin: 15px 0px;
	font-size: 15px;
	font-weight: bold;
	border-bottom: 1px dashed #2D3538;
}

span.register-numbering {
	padding: 3px 8px;
	background-color: #94B84B;
	color: #333;
	margin-right: 10px;
	border-radius: 3px;
}

span.register-numbering-text {
	color: #333;
}

div.loader {
    background: url("../images/login/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
    display: none;
    z-index: 9999;
    top: 40%;
    left: 50%;
    position: absolute;
    margin-left: -10px;
}

/* ==== Placeholder customization ==== */
::-webkit-input-placeholder {
	color: #888;
}

:-moz-placeholder {
	color: #888;
}

::-moz-placeholder {
	color: #888;
}

:-ms-input-placeholder {
	color: #888;
}
/* ==== End of placeholder customization ==== */

/* === HTML5 validation styles === */
#form-section input:required:valid, #form-section input.valid {
	background: #fff url(../images/login/valid-icon.png) no-repeat 99% 50%;
	background-position: right 6px center;
}

#form-section input:focus:invalid, #form-section input.invalid {
	background: #fff url(../images/login/invalid-icon.png) no-repeat 99% 50%;
	background-position: right 6px center;
}

/* === Custom checkbox (Remember me checkbox) === */

#checkbox li {
	margin-top: 10px;
	border-radius: 4px;
	position: relative;
	display: inline-block;
	border: 1px solid #2D3538;
	top: 5px;
}

#checkbox li:hover {
	border: 1px solid #666;
	-webkit-transition: border-color 0.2s ease-in-out;
	-moz-transition: border-color 0.2s ease-in-out;
	-o-transition: border-color 0.2s ease-in-out;
	-ms-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
}

#checkbox li input {
	display: none;
}

#checkbox label {
	font-size: 14px;
	margin-left: 6px;
	color: #ddd;
}

#checkbox .selected {
	background-color: #333;
}

#checkbox .selected span.unchecked-state {
	display: none;
}

span.unchecked-state {
	display: block;
	width: 18px;
	height: 18px;
	color: #fff;
	cursor: pointer;
	background-color: #fff;
	border-radius: 4px;
}

span.checked-state {
	display: none;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background-color: #fff;
	background-image: url(../images/login/checkmark-icon.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 4px;
}

#checkbox li.selected span.checked-state {
	display: block;
}

/* Select box */

.styled-select select {
	background: #fff;
	width: 100%;
	padding: 5px;
	color: #333;
	font-size: 14px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none;
}
.styled-select {
	width: 100%;
	height: 34px;
	overflow: hidden;
	background: url(../images/login/select.png) no-repeat right #fff;
	border: 1px solid #3D484C;
	border-radius: 5px;
}


/* ==== HTML5 Custom Validation Bubble for Chrome ===== */
::-webkit-validation-bubble-message {
	background-color: #E5534E;
	font-size: 14px;
	top: -4px;
	left: 0px;
	width: auto;
	margin: 0;
	border: none;
	text-align: left;
	display: block;
	padding: 6px;
	border-radius: 4px;

	-webkit-box-shadow: none;
	box-shadow: none;
	text-indent: -22px;
}

::-webkit-validation-bubble-message > div > div + * {
	font-size: 16px;
	line-height: 32px;
	font-family: sans-serif;
	color: #000;
}

::-webkit-validation-bubble-icon {
	background-color: transparent;
	padding: 0px;
	text-indent: 0px;
	display: inline-block;
	position: relative;
	background-image: none;
	background-repeat: none;

	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	background-size: 100%;
	float: left;
}

::-webkit-validation-bubble-arrow {
	background-color: transparent;
	border: none;
	position: absolute;
	top: 5px;
	color: #E5534E;
}

::-webkit-validation-bubble-arrow:before {
	position: absolute;
	content: "\25E4";
} 

/* ==== End of validation bubbles customization ==== */



/* Radio button */
label.radio_lab {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
	font-size: 13px;
}
input[type=radio] {
	display: none;
}
label.radio_lab:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background-color: #aaa;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}
.radio label.radio_lab:before {
	border-radius: 8px;
}
input[type=radio]:checked + label.radio_lab:before {
	content: "\2022";
	color: #f3f3f3;
	font-size: 30px;
	text-align: center;
	line-height: 18px;
}
/* Tool tip */ 
a.tooltip {
	outline: none;
}
a.tooltip strong {
	line-height: 30px;
}
a.tooltip:hover {
	text-decoration: none;
}
a.tooltip span, a.tooltip b {
	z-index: 10;
	display: none;
	padding: 14px 20px;
	margin-top: -30px;
	margin-left: 28px;
	width: 220px;
	line-height: 16px;
}
a.tooltip:hover span, a.tooltip:hover b {
	display: inline;
	position: absolute;
	color: #fff;
	border: 1px solid #DCA;
	background: #666;
	background:rgba(0,0,0,0.7);
	font-weight:normal;
	font-size:12px;
}
.callout {
	z-index: 20;
	position: absolute;
	top: 30px;
	border: 0;
	left: -12px;
}
/*CSS3 extras*/
a.tooltip span, a.tooltip b {
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* Bank name dropdown */
#payment .styled-select select {
	background: transparent;
	width: 100%;
	padding: 5px;
	font-size: 12px;
	color: #333333;
	line-height: 12px;
	border: 0;
	border-radius: 0;
	height: 25px;
	-webkit-appearance: none;
}
#payment .styled-select {
	width: 95%;
	height: 25px;
	overflow: hidden;
	background: url(../images/icons/select.gif) no-repeat right #fff;
	border: 1px solid #ccc;
}

.profile_link {
	border:none;
	color:#fff !important;
	font-weight:bold;
	font-size:14px;
	cursor:pointer;
	background: #0b9444;
	border-radius: 3px;
	width: 153px;
	height: 39px;
	display:inline-block;
	line-height:39px;
	text-align:center;
}
.profile_link:hover {
	text-decoration:none;
	background-color: #ef4036;
}

@media \0screen {
	#form-section { background-color:#CCC;}
	input[type=radio] {
		display: inline-block !important;
		margin-right:-22px !important;
	}
}