@charset "utf-8";
/* CSS Document */

input[type="text"], select, textarea {
	color: #000 !important;
	font-style: normal !important;
}
.submit {
	width: 120px;
	height: 35px;
	line-height: 35px;
	display: block;
	background: #067936;
	border: none;
	text-align: center;
	color: #FFF !important;
	border-radius: 4px;
	font-size: 12px;
	font-weight: bold;
}
.product-2 h1 {
	font-size: 41px;
	color: #16994c;
	background: none;
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	background: none !important;
}
.product-2 h2 {
	margin: 0 0 0 26px;
	font-size: 41px;
	color: #16994c;
	padding: 20px 20px;
}
.product-1 {
	width: 165px;
	height: 236px;
	float: left;
	margin: 0 0 30px 50px;
	padding: 0;
	position: relative;
	border-bottom: 1px solid #0b9444;
}
.product-1:hover {
	border-bottom: 1px solid red;
}
.product-2 {
	position: relative;
}
.product-2:hover {
	background: #f8edec;
	border: 1px solid red;
}
.porduct-star {
	width: 100px;
	height: 22px;
	z-index: 9;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.5);
}
.porduct-star .icon {
	display: inline-block;
	width: 16px;
	height: 16px;
}
.porduct-star .star {
	margin-bottom: 5px;
	background: url(../images/icons/star.png) no-repeat right;
	text-indent: -10000px;
}
.product-1 h2 {
	font-size: 15px;
	color: #353535;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	float: left;
	margin: 5px 0;
	padding: 0;
}
.product-1 h3 {
	width: 65px;
	height: 24px;
	line-height: 24px;
	margin: 8px 0 0 0;
	padding: 0px 0 0 4px;
	float: right;
	border: 1px solid #999;
	background: url(../images/icons/shop.jpg) no-repeat right;
}
.product-1 img.file_type {
	position: absolute;
	bottom: 8px;
	left: 52px;
	margin-top: 5px;
	margin-left: 15px;
}
.product-2 {
	width: 163px;
	height: 195px;
	background: #ebf3ee;
	border: 1px solid #0b9444;
}
.product-2 img {
	margin: 10px 12px;
}
.product-2 h1 {
	margin: 0 0 0 12px;
	color: #ef4036;
	padding: 0;
	font-size: 20px;
}
.product-2 p {
	font-size: 11px;
	margin: 0;
	text-align: left;
	padding: 0px 10px;
}
#cont, div.pagination {
	width: 100%;
	height: 30px;
	float: right;
	background: none;
}
#cont li a[href="#"], #cont li a:hover, div.pagination a.active, div.pagination a:hover {
	background: #0b9444;
	padding: 3px 8px;
	color: #fff;
	margin: 0;
}
#cont ul {
	float: right;
	margin: 0;
	margin-right: 20px;
	padding: 0;
}
#cont li {
	list-style: none;
	float: left;
	padding: 5px 5px;
}
#cont a, div.pagination a {
	padding: 3px 8px;
	font-size: 12pxpx;
	font-weight: bold;
	color: #666;
	margin: 0 0px 0 0;
}
