@charset "utf-8";
/* CSS Document */

#products {
	margin-top:50px;
}
input, select, textarea {
	 width:200px;
}
#my_favourites, #favourites {
	display: inline-block;
	width: 18px;
	height: 18px;
	background:url(../images/icons/my_favourite.png) no-repeat bottom center;
	text-indent: -10000px;
}
#my_favourites:hover, #my_favourites.active {
	background:url(../images/icons/my_favourite.png) no-repeat top center;
}
#products .col1 {
	width:630px;
	display:inline-block;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
	display:inline-block;
	border-right:1px solid #999;
	background-color:#f9f9f9;
}
#products .col2 {
	width:170px;
	padding:10px;
	display:inline-block;
	vertical-align:top;
}
#products .col1 h1, #products .col2 h1 {
	padding-bottom: 10px;
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 35px;
	letter-spacing: 1px;
	font-weight: normal;
	color: #16994c;
	padding-left: 0;
}
#products .col1 .item_m {
	width:28%;
	display:inline-block;
	vertical-align:top;
	margin-right:20px;
	margin-bottom:20px;
}
#products .col1 .item {
	width:100%;
	height:220px;
	padding:5px;
	text-align:center;
	background-color:#eaf3ee;
	border:1px solid #0b9444;
	font-size:13px;
	position:relative;
}
#products .col1 .item .stars{
	width:60%;
	height:25px;
	line-height:25px;
	font-size:18px;
	color:#f03f39;
	background:rgba(255,255,255,0.7);
	position:absolute;
	right:0;
	top:0;
}
#products .col1 .item span {
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#f03f39;
	letter-spacing:1px;
	line-height:30px;
}
#products .col1 .item_m .footer {
	width:100%;
	height:20px;
	line-height:20px;
	padding:5px;
	border-bottom:1px solid #0b9444;
}
#products .col1 .item_m .footer strong {
	letter-spacing:1px;
}
#products .col1 .item_m .footer .cart_icon {
	display:inline-block;
	width:35%;
	background:url(../images/icons/cart1.png) no-repeat right;
	padding-left:3px;
	float:right;
	border:1px solid #ddd;
	font-weight:bold;
	-moz-box-shadow: 0px 0px 2px #000000;
	-webkit-box-shadow: 0px 0px 2px #000000;
	box-shadow: 0px 0px 2px #000000;
}
#products .col1 #pagination ul {
	list-style:none;
}
#products #pagination li {
	display:inline-block;
	padding:5px;
}
#products .pagination a[href="#"] {
	pointer-events: none !important;
	cursor:pointer;
}
#products #pagination {
    float: left;
    font-size:11px;
    color:#3d3d3d;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    width:100%;
}
#products #pagination a, #pagination strong{
    list-style-type: none;
    display: inline;
    padding: 5px 8px;
    text-decoration: none; 
    background-color: inherit;
    color: #f03f39;
    font-weight: bold;
}
#products #pagination strong{
    color: #ffffff;
    background-color:#f03f39;
    background-position: top center;
    background-repeat: no-repeat;
    text-decoration: none; 
}
#products #pagination a:hover{
    color: #ffffff;
    background-color:#f03f39;
    background-position: top center;
    background-repeat: no-repeat;
    text-decoration: none; 
}
#products .col2 h1 {
	padding-bottom:5px;
	border-bottom:2px solid #999;
}
#products .col2 ul a:visited {
	color:#42413c;
}
/* CSS Tree menu styles */
#products .col2 ol.tree {
	margin-left:-20px;
	margin-bottom:20px;
}

#products .col2 li {
    position: relative;
    margin-left: -15px;
    list-style: none;
}

#products .col2 li.categ {
    margin-left: -1px !important;
}

#products .col2 li.categ a {
	background: url(../images/icons/bullets.png) left no-repeat !important;
    color: #42413c;
    padding-left: 21px;
    text-decoration: none;
    display: block;
}

#products .col2 li input {
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1em;
    width: 1em;
    top: 0;
}

#products .col2 li input + ol {
    background: url(../images/toggle-small-expand.png) 40px 0 no-repeat;
    margin: -1.1em 0 0 -22px;
 /* 15px */
    height: 1.5em;
}

#products .col2 li input + ol > li {
    display: none;
    margin-left: -14px !important;
	margin-bottom:5px;
    padding-left: 1px;
}

#products .col2 li label {
    cursor: pointer;
    display: block;
    padding-left: 37px;
}

#products .col2 li input:checked + ol {
    background: url(../images/toggle-small.png) 40px 5px no-repeat;
    margin: -1.5em 0 0 -22px;
 /* 20px */
    padding: 2em 0 0 60px;
    height: auto;
}

#products .col2 li input:checked + ol > li {
    display: block;
	line-height:normal;
	margin-left:20px;
  /* 2px */
}
ol li li:last-child {
    margin-bottom:15px;
 /* 1px */
}


/* Product details page styles */
#products .col1 h1 small {
	font-family: 'LiberationSansRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#000;
}
/* Style for tabs */
#products .col1 .tabs {
    color: #111;
    padding: 15px 20px;
    margin: 8px auto;
}
#products .col1 .tabs li {
    list-style: none;
    float: left;
}
#products .col1 .tabs ul a {
    display: block;
    padding: 6px 10px;
    text-decoration: none!important;
    margin: 1px;
    margin-left: 0;
    font: 10px Verdana;
    color: #FFF;
    background: #666;
}

#products .col1 .tabs ul a:hover {
    color: #FFF;
    background: #111;
}

#products .col1 .tabs ul a.selected {
    margin-bottom: 0;
    color: #fff;
    background: snow;
    border-bottom: 1px solid snow;
    cursor: default;
    background: #222;
}

#products .col1 .tabs div {
    padding: 10px;
    *padding-top: 3px;
    *margin-top: -15px;
	min-height:300px;
    clear: left;
    background: snow;
    font: 10pt Georgia;
	line-height:20px;
	text-align:justify;
}

#products .col1 .tabs div a {
    color: #000;
    font-weight: bold;
}
#products .col1 .tabs div img {
	float:left;
	margin-right:20px;
}
#products .col1 .tabs #ask_question ul { margin-top:10px; margin-bottom:10px; position:relative;}
#products .col1 .tabs #ask_question ul ul { margin-left: 50px; position:relative; }
#products .col1 .tabs #ask_question ul li { margin-left: 0px !important; position:relative; width:100% !important; margin-bottom:10px; }
#products .col1 .tabs #ask_question ul ul li {  border-bottom:1px solid #000; }
#products .col1 .tabs #ask_question ul li input.reply, #products .col1 .tabs #ask_question ul li input.delete { width:50px; position:absolute; right:60px; }
#products .col1 .tabs #ask_question ul li input.delete { right:0px;}
#products .col1 .tabs #ask_question ul p { max-height:200px !important;}