/* start seller profile page */
.seller-profile {
	width: 92px;
	height: 30px;
	margin: -10px 40px;
	padding: 2px 0 0 0;
	border-radius: 3px;
	background: #0d9244;
}

.seller-profile1 {
	width: 84px;
	height: 26px;
	margin: 0px 3px;
	border-radius: 3px;
	border: 1px solid #cae5d5;
}

.seller-profile2 {
	width: 80px;
	height: 21px;
	margin: 2px 1px;
	border-radius: 3px;
	border: 1px solid #cae5d5;
}

.seller-profile2 h4 {
	font-size: 12px;
	margin: 2px 0 0 -9px;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
	color: #fff;
}

.seller-profile-right {
	width: 568px;
	/*height: 246px;*/
	margin: 20px 0;
	background: none;
	float: right;
}

.seller-profile-right h4 {
	font-size: 20px;
	margin: 10px 0;
	font-weight: normal;
	letter-spacing: 1px;
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	color: #0b9444;
}

.seller-profile-right h5 {
	font-size: 20px;
	margin: 10px 0;
	font-weight: normal;
	letter-spacing: 1px;
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	color: #ef4036;
}

.seller-profile-leftdiv-main {
	width: 800px;
	height: auto;
	background: #CCC;
}

.seller-profile-leftdiv {
	width: 175px;
	height: 460px;
	margin: 10px 0 0 0;
	float: left;
	background: none;
}

.seller-profile-leftdiv h4 {
	font-size: 21px;
	margin: 0px;
	padding: 0px;
	text-align: left;
	border-bottom: 1px solid #0b9444;
	font-weight: normal;
	letter-spacing: 1px;
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	color: #0b9444;
}

.seller-profile-leftdiv .col10 {
	width: 174px;
	height: 112px;
	margin: 14px 0;
	background: #ebf3ee;
}

.seller-profile-leftdiv .col10 h4 {
	font-size: 12px;
	color: #0b9444;
	font-weight: bold;
	letter-spacing: 0;
	margin: 0 14px;
	padding: 0;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
}

.seller-profile-leftdiv .links {
	width: 68px;
	height: 29px;
	margin: 30px auto;
	background: none;
}

.seller-profile-leftdiv .links ul {
	margin: 0px 0;
	padding: 0;
}

.seller-profile-leftdiv .links li {
	margin: 0 10px 0 0;
	padding: 0;
	float: left;
	list-style: none;
	background: url(../images/sellerDetails-icon2.jpg) no-repeat;
	width: 11px
}

.seller-profile-leftdiv .links .action {
	background: url(../images/sellerDetails-icon1.jpg) no-repeat;
	height: auto;
	border: none;
}

/* end .seller-profile-leftdiv css */


.seller-profile-righttdiv {
	width: 574px;
	height: auto;
	float: right;
	margin: 20px 0;
	background: none;
}

.seller-profile-righttdiv #left-indiv {
	width: 584px;
	height: auto;
	background: none;
	float: left;
	margin: -9px 0 20px 0;
	padding: 0;
}

.seller-profile-righttdiv #left-inner {
	width: 682px;
	border-right: 1px solid #999;
	height: auto;
	margin: 0 0 20px 0;
	background: none;
	float: left;
}

.seller-profile-righttdiv #left-indiv h3 {
	margin: 0 34px 20px 0px;
	font-size: 20px;
	letter-spacing: 1px;
	font-weight: normal;
	color: #16994c;
	border-bottom: 1px solid #0b9444;
	padding: 0px 0px;
}

.seller-profile-righttdiv #right-indiv {
	width: 179px;
	height: 340px;
	float: right;
	background: none;
}

.seller-profile-righttdiv #right-indiv h1 {
	font-size: 30px;
	color: #16994c;
	padding: 4px 0;
	margin: 0;
	border-bottom: 2px solid #b1b1b1;
}

.seller-profile-righttdiv #right-indiv ul {
	margin: 0 0 50px 0;
	padding: 0;
}

.seller-profile-righttdiv #right-indiv li {
	list-style: none;
	line-height: 5px;
	margin: 15px 0;
	background: url(../images/li-icon.jpg) no-repeat left;
}

.seller-profile-righttdiv #right-indiv a {
	padding: 18px;
	margin: 10px 0;
	font-size: 11px;
}

.seller-profile-righttdiv #right-indiv p {
	font-size: 12px;
	text-align: left;
	padding: 10px 0;
	margin: 0;
}

.seller-profile-righttdiv #left-indiv .product-1 {
	width: 113px;
	height: 165px;
	float: left;
	margin: 0 32px 30px 0px;
	padding: 0;
	border-bottom: 1px solid #0b9444;
	background: none;
}

.seller-profile-righttdiv .action {
	width: 111px;
	height: 236px;
	float: left;
	margin: 0 0 30px 50px;
	padding: 0;
	border-bottom: 1px solid #0b9444;
	background: #f8edec;
}

.seller-profile-righttdiv #left-indiv .product-2:hover {
	background: #f8edec;
	border: 1px solid red;
}

.seller-profile-righttdiv #left-indiv .product-1:hover { border-bottom: 1px solid red; }

.seller-profile-righttdiv .porduct-star {
	width: 70px;
	float: right;
	margin: 0 0 0 40px;
	height: 19px;
	z-index: 9999;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.5);
}

.seller-profile-righttdiv .porduct-star .icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	float: right;
}

.seller-profile-righttdiv .porduct-star .star {
	margin: 0px 5px 0 0px;
	background: url(../images/star.png) no-repeat right;
	text-indent: -10000px;
}

.seller-profile-righttdiv #left-indiv .product-1 h2 {
	font-size: 15px;
	color: #353535;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	float: left;
	margin: 5px 0;
	padding: 0;
}

.seller-profile-righttdiv #left-indiv .product-1 h3 {
	width: 65px;
	height: 24px;
	font-size:10px !important;
	margin: 8px 0 0 0;
	line-height: 24px;
	padding: 0px 0 0 5px;
	float: right;
	border: 1px solid #999;
	background: url(../images/shop.jpg) no-repeat right;
}

.seller-profile-righttdiv #left-indiv .product-2 {
	width: 163px;
	height: 195px;
	background: #ebf3ee;
	border: 1px solid #0b9444;
}

.seller-profile-righttdiv #left-indiv .product-2 img { margin: 10px 12px; }

/*.seller-profile-righttdiv #left-indiv .product-2 h1 {
	margin: 0 0 0 12px;
	color: #ef4036;
	padding: 0;
	font-size: 20px;
}*/

.seller-profile-righttdiv #left-indiv .product-2 p {
	font-size: 11px;
	margin: 0;
	text-align: left;
	padding: 0px 10px;
}

.seller-profile-righttdiv #cont {
	width: 160px;
	height: 30px;
	float: right;
	background: none;
}

.seller-profile-righttdiv #cont .first {
	background: #0b9444;
	padding: 3px 8px;
	color: #fff;
	margin: 0;
}

.seller-profile-righttdiv #cont ul {
	margin: 0;
	padding: 0;
}

.seller-profile-righttdiv #cont li {
	list-style: none;
	float: left;
	padding: 5px 5px;
}

.seller-profile-righttdiv #cont a {
	font-size: 12pxpx;
	font-weight: bold;
	color: #666;
	margin: 0 0px 0 0;
}

.seller-profile-righttdiv #left-indiv .product-1 h2 {
	font-size: 11px;
	color: #353535;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	float: left;
	margin: -3px 0;
	padding: 0;
}

.seller-profile-righttdiv #left-indiv .product-1 h3 {
	width: 44px;
	height: 9px;
	margin: 3px 0 0 0;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 16px;
	padding: 0px 0px 6px 0px;
	float: right;
	border: 1px solid #999;
	background: url(../images/shop1.jpg) no-repeat right;
}

.seller-profile-righttdiv #left-indiv .product-2 {
	width: 111px;
	height: 140px;
	background: #ebf3ee;
	border: 1px solid #0b9444;
}

.seller-profile-righttdiv #left-indiv .product-2 img { margin: 10px 25px; }

.seller-profile-righttdiv #left-indiv .product-2 h1 {
	margin: 0 0 0 12px;
	color: #ef4036;
	padding: 0;
	letter-spacing: 1px;
	font-size: 16px;
	font-size: 12px /9 !important;
}

.seller-profile-righttdiv #left-indiv .product-2 p {
	font-size: 7px;
	margin: 0;
	text-align: left;
	padding: 0px 0 0 10px;
}

.seller-profile-righttdiv .cont {
	width: 100px;
	height: 30px;
	margin: -20px 0 0 0;
	float: right;
	background: none;
}

.seller-profile-righttdiv .cont .first {
	background: #0b9444;
	padding: 0px 5px;
	color: #fff;
	margin: 0;
}

.seller-profile-righttdiv .cont ul {
	margin: 0;
	padding: 0;
}

.seller-profile-righttdiv .cont li {
	list-style: none;
	float: left;
	padding: 0px 3px;
}

.seller-profile-righttdiv .cont a {
	font-size: 11px;
	font-weight: normal;
	color: #666;
	margin: 0 0px 0 0;
}