#slider_container_1 { float: left; padding: 10px; width: 322px; background: #000000; -moz-border-radius: 10px 10px; -webkit-border-radius: 10px 10px; border-radius: 10px 10px; }

#SliderName{
	width: 322px;
	height: 227px;
	margin: auto;
}

.SliderNamePrev{
	background: url(../images/left.gif) no-repeat center center;
	width: 33px;
	height: 29px;
	display: block;
	position: absolute;
	top: 214px;
	left: 126px;
	text-decoration: none;
}

.SliderNameNext{
	background: url(../images/right.gif) no-repeat center center;
	width: 33px;
	height: 29px;
	display: block;
	position: absolute;
	top: 214px;
	right: 126px;
	text-decoration: none;
}

.SliderNameDescription{
	font-family: Verdana;
	font-size: 14px;
	text-transform:uppercase;
	color:#FFF;
	background:#666;
	width:162px;
	height:17px;
	left:20px;
	text-align: center;
	padding: 10px;
}

#SliderNameNavigation { margin: 10px 0 0 0; padding-top: 15px; height: 15px; text-align: center; -moz-border-radius: 6px 6px; background: #fff; }

#SliderNameNavigation a:link, #SliderNameNavigation a:active, #SliderNameNavigation a:visited, #SliderNameNavigation a:hover{
	margin: 0 2px;
	background: url(../images/nav.gif) no-repeat center center;
	font-size: 0px;
	line-height: 0px;
	padding: 12px;
	text-decoration: none;
}

#SliderNameNavigation a.active:link, #SliderNameNavigation a.active:active, #SliderNameNavigation a.active:visited, #SliderNameNavigation a.active:hover{
	background: url(../images/nav_active.gif) no-repeat center center;
}