.seller-profile-leftdiv #main {
	/* The main container div */
	position: relative;
	margin: 0px auto;
	width: 175px;
}

.seller-profile-leftdiv #holder {
	/* The unordered list that is to be split into pages */

	width: 175px;
	overflow: hidden;
	position: relative;
	padding: 0;
}

.seller-profile-leftdiv .swControls {
	position: absolute;
	margin-top: 10px;
}

.seller-profile-leftdiv a.swShowPage {
	/* The links that initiate the page slide */

	background-color: #9ad1b1;
	float: left;
	height: 12px;
	margin: 4px 3px;
	text-indent: -9999px;
	width: 12px;
	/*border:1px solid #ccc;*/
	
	/* CSS3 rounded corners */
	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.seller-profile-leftdiv a.swShowPage:hover, .seller-profile-leftdiv a.swShowPage.active {
	background-color: #0b9444;
	/*	CSS3 inner shadow */
	
	-moz-box-shadow: 0 0 7px #1e435d inset;
	/*-webkit-box-shadow:0 0 7px #1e435d inset;*/
	box-shadow: 0 0 7px #1e435d inset;
}

.seller-profile-leftdiv #holder li {
	list-style: none outside none;
	width: 170px;
	text-align: left;
	padding: 10px !important;
	float: left;
	background: none repeat scroll 0 0 #EBF3EE;
	margin: 14px 0 6px 0;
	font-size: 13px;
}

.seller-profile-leftdiv #holder li b {
	font-weight: normal;
	color: #093;
}

.seller-profile-leftdiv #holder li u {
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	color: #666;
}

.clear { /* This class clears the floated elements */
clear: both; }

/* The styles below are only necessary for the styling of the demo page */