@charset "utf-8";
@import url("fonts.css");
body {
	font-family: 'LiberationSansRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: url(../images/bg.gif) center top;
	margin: 0;
	padding: 0;
	color: #58595b;
}
*:focus {
	outline:none;
}
/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing block. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the blocks, instead of the block elements themselves, gets rid of any box model math. A nested block with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #42413C;
	text-decoration: none;
}
a:visited {
	color: #6E6C64;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
}
/* ~~ This fixed width container surrounds all other blocks ~~ */
.container {
	width: 876px;
	padding: 15px 30px 20px 30px;
	background-color: #FFFFFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
	-webkit-box-shadow: 0 0 9px rgba(4,5,5,.39);
	-moz-box-shadow: 0 0 9px rgba(4,5,5,.39);
	box-shadow: 0 0 9px rgba(4,5,5,.39);
	margin-bottom: 70px;
	position: relative;
	behavior: url(ie-css3.htc);
}
/* ~~ The header is not given a width. It will extend the full width of your layout. ~~ */
header {
	width: 100%;
	min-height: 160px;
	position:relative;
}
nav {
	width: 100%;
	height: 45px;
	margin: 0 auto;
	background: url(../images/nav_bg.png) no-repeat top left;
}
section {
	width: 100%;
}
article {
	padding: 10px 0;
	width: 100%;
}
aside {
	float: left;
	width: 180px;
	background-color: #EADCAE;
	padding: 10px 0;
}
/* Header styles */

#logo {
	background: url(../images/logo.png) no-repeat left top;
	display: inline-block;
	float: left;
	text-indent: -1000px;
	width: 220px;
	height: 145px;
}
#quick_links {
	display: inline-block;
	width: 50%;
	min-height: 130px;
	float: right;
}
#quick_links .welcome .quick {
	float:right;
	position:absolute;
	top:0; right:0;
}
.welcome {
	background: url(../images/border_bottom.gif) repeat-x center bottom;
	height: 35px;
	float:right;
	width:100%;
	position:relative;
}
.welcome .icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-left: 20px;
}
.welcome .dashboard {
	background: url(../images/icons/dashboard.png) no-repeat center center;
	text-indent: -10000px;
	width:24px;
	margin-left: 150px;
}
.welcome .profile {
	background: url(../images/icons/profile.gif) no-repeat center center;
	text-indent: -10000px;
}
.welcome .favourite {
	background: url(../images/icons/favourite.png) no-repeat center center;
	text-indent: -10000px;
}
.welcome .doller {
	font-size: 18px;
	color: #ef4036;
	font-weight: bold;
}
.welcome .logout {
	background: url(../images/icons/logout.png) no-repeat center center;
	text-indent: -10000px;
}
.login_cart {
	margin-top: 20px;
	display:block;
	clear:both;
	float:left;
	width:100%;
}
.button_green {
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #0b9444;
}
.login_cart span {
	padding-left: 10px;
	padding-right: 10px;
}
.login_cart .login, .login_cart .register {
	width: 94px;
	height: 32px;
	padding: 3px 0 0 3px;
}
.login_cart .login .o1, .login_cart .register .o1 {
	width: 88px;
	height: 26px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ceeada;
	padding: 1px 0 0 1px;
}
.login_cart .login div div, .login_cart .register div div {
	width: 85px;
	height: 23px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #6dbf8f;
	line-height: 23px;
	text-align: center;
	font-size: 13px;
	color: #fff;
}
.login_cart .cart {
	min-width: 117px;
	height: 32px;
	float: right;
	padding-left: 8px;
	padding-right: 22px;
	background-image: url(../images/icons/cart.png);
	background-repeat: no-repeat;
	background-position: right;
	line-height: 32px;
	text-align: center;
	color: #fff;
	cursor:pointer;
}
.login_cart .login:hover, .login_cart .register:hover, .login_cart .cart:hover {
	background-color: #ef4036;
}
.login_cart .login:hover div div, .login_cart .register:hover div div {
	border: 1px solid #f97e77;
}
/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol {
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. These may be adjusted as you wish. */
}
/* ~~ The navigation list styles (can be removed if you choose to use a premade flyout menu like Spry) ~~ */
nav ul {
	list-style: none; /* this removes the list marker */
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 28px;
	line-height: 40px;
}
nav ul li {
	float: left;
}
nav ul a, nav ul a:visited { /* grouping these selectors makes sure that your links retain their button look even after being visited */
	color: #fff !important;
	letter-spacing: 1px;
	padding: 5px 30px 5px 30px;
	display: block; /* this gives the link block properties causing it to fill the whole LI containing it. This causes the entire area to react to a mouse click. */
	text-decoration: none;
}
nav ul a:hover, nav ul a:active, nav ul a:focus { /* this changes the background and text color for both mouse and keyboard navigators */
	color: #0b9444 !important;
}

/* Slider part */
.slider_container {
	width: 875px;
	height: 370px;
	margin-top: 2px;
	position: relative;
}
.bg_red {
	background-color: rgba(239,64,54,.8);
}
.bg_green {
	background-color: rgba(11,148,68,.8);
}
.color_red {
	color: #ef4036 !important;
	font-weight: bold;
}
.color_green {
	color: #0b9444 !important;
	font-weight: bold;
}
.ellipse {
	display: block;
	float: left;
	width: 244px;
	height: 244px;
	-webkit-border-radius: 127px 126px 126px 127px/127px 127px 126px 126px;
	-moz-border-radius: 127px 126px 126px 127px/127px 127px 126px 126px;
	border-radius: 127px 126px 126px 127px/127px 127px 126px 126px;
	text-align: center;
	padding-top: 7px;
	padding-left: 7px;
	position: absolute;
	top: 18%;
	left: 4%;
	z-index: 999;
}
.ellipse_green {
	left: 34%;
}
.ellipse_bold {
	width: 226px;
	height: 226px;
	-webkit-border-radius: 118px 117px 117px 118px/117px 117px 118px 118px;
	-moz-border-radius: 118px 117px 117px 118px/117px 117px 118px 118px;
	border-radius: 118px 117px 117px 118px/117px 117px 118px 118px;
	border: 3px solid #fff;
	padding-top: 5px;
	padding-left: 5px;
}
.ellipse_thin {
	width: 220px;
	height: 220px;
	-webkit-border-radius: 111px 110px 110px 111px/110px 110px 111px 111px;
	-moz-border-radius: 111px 110px 110px 111px/110px 110px 111px 111px;
	border-radius: 111px 110px 110px 111px/110px 110px 111px 111px;
	border: 1px solid #fff;
	color: #fff;
	position: relative;
}
h2 {
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	color: #fff;
	line-height: 30px;
	font-size: 34px;
	font-weight: normal;
	margin: 0;
	margin-bottom: 10px;
	margin-top: 15px;
}
.more {
	width: 90px;
	height: 10px;
	padding: 10px;
	font-size: 12px;
	padding-top: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	position: absolute;
	left: 25%;
	bottom: 25px;
}
.search_box {
	float: right;
	display: block;
	position: absolute;
	top: 60px;
	right: 30px;
	z-index: 9;
}
.search_box .title {
	background-color: #fff;
	width: 239px;
	height: 42px;
	padding-top: 2px;
	padding-left: 3px;
}
.search_box .title .l_tit {
	width: 234px;
	height: 37px;
	border: 1px solid #f1534a;
	padding-top: 1px;
	padding-left: 1px;
}
.search_box .title .ll_tit {
	width: 230px;
	height: 33px;
	border: 1px solid #f7a39e;
	text-align: center;
	font-family: 'PressStyleRegular', Verdana, Arial, Helvetica, sans-serif;
	font-size: 28px;
	line-height: 33px;
}
.search_box .wk-accordion-default {
	margin-top: 20px;
}
.search_box .wk-accordion-default .toggler {
	background: url(../images/acordination.png) no-repeat top left;
	border: none;
	border-radius: 0px;
	height:20px;
	margin: 1px;
	padding: 7px;
	box-shadow: none;
	color: #333;
	font-size: 14px;
	text-transform: uppercase;
	cursor: pointer !important;
	text-align: left;
}
.search_box .wk-accordion-default .toggler.active {
	background: url(../images/acordination.png) no-repeat bottom left;
}
.search_box .wk-accordion-default .content-wrapper {
	background: url(../images/acordination_bg.png) repeat;
}
.search_box .wk-accordion-default .content-wrapper .content {
	height: 39px;
	padding-top: 15px;
	padding-left: 20px;
}
.search_box .styled-select select {
	background: transparent;
	width: 100%;
	padding: 5px;
	font-size: 12px;
	color: #333333;
	line-height: 12px;
	border: 0;
	border-radius: 0;
	height: 25px;
	-webkit-appearance: none;
}
.search_box .styled-select {
	width: 85%;
	height: 25px;
	overflow: hidden;
	background: url(../images/icons/select.gif) no-repeat right #fff;
	border: 1px solid #ccc;
}
.search_box .search {
	margin-top: 10px;
	background: url(../images/acordination_bg.png) repeat;
	height: 37px;
	line-height: 37px;
	text-align: center;
}
.search_box #search_text {
	width: 170px;
	height: 18px;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #fff;
	border: 0;
	margin-left: 10px;
}
#search_text::-webkit-input-placeholder, #search_text:-moz-placeholder, #search_text::-moz-placeholder, #search_text:-ms-input-placeholder {
 color:#333;
}
.search_box #search {
	width: 27px;
	height: 20px;
	float: right;
	background: url(../images/icons/search.png) no-repeat center;
	background-color: rgba(239,64,54,.91);
	border: 0;
	margin-right: 20px;
	margin-top: 8px;
	cursor:pointer;
}
.search_box #search:hover {
	background: url(../images/icons/search.png) no-repeat center !important;
	background: rgba(11,148,68,.91);
}
.content {
	padding-top: 30px;
}

/* ~~ The footer ~~ */
footer {
	padding: 10px 0;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
	border-top: 1px solid #b3b3b3;
	min-height: 210px;
	margin-top: 20px;
}
footer .col1, footer .col2, footer .col3, footer .col4 {
	display: inline-block;
	padding-top: 10px;
	margin-left: 10px;
	vertical-align: text-bottom;
	min-height: 150px;
}
footer .col1 {
	width: 33%;
}
footer .col2 {
	width: 30%;
}
footer .col3 {
	width: 30%;
}
footer .col4 {
	width: 22%;
}
footer .col1 .call1 span, footer .col1 .call2 span, footer .col1 .mail span {
	display: inline-block;
	width: 31px;
	height: 31px;
	-webkit-border-radius: 16px 15px 15px 16px/16px 16px 15px 15px;
	-moz-border-radius: 16px 15px 15px 16px/16px 16px 15px 15px;
	border-radius: 16px 15px 15px 16px/16px 16px 15px 15px;
	border: 1px solid #c6c6c6;
	margin-right: 10px;
}
footer .col1 .call1 span {
	background: url(../images/icons/phone.gif) no-repeat center;
	line-height: 31px;
	margin-bottom: 10px;
}
footer .col1 .call2 span {
	background: url(../images/icons/phone1.gif) no-repeat center;
	line-height: 31px;
	margin-bottom: 10px;
}
footer .col1 .mail span {
	background: url(../images/icons/message.gif) no-repeat center;
	line-height: 31px;
	margin-bottom: 10px;
}
footer .col2 h4, footer .col3 h4, footer .col4 h4 {
	display: block;
	width: 61%;
	line-height: 15px;
	padding-bottom: 5px;
	padding-left: 0;
	border-bottom: 1px solid #b3b3b3;
}
footer .col2 h4 {
	width:40% !important;
}
footer .col2 ul, footer .col3 ul, footer .col4 ul {
	margin-left: 15px;
	list-style: none;
	line-height: 20px;
}
footer .col2 li:before, footer .col3 li:before, footer .col4 li:before {
	/* For a round bullet */
	content: '\2022';
	/* For a square bullet */
	/*content:'\25A0';*/
	display: block;
	position: relative;
	max-width: 0px;
	max-height: 0px;
	left: -15px;
	top: -0px;
	color: #ef4036;
	line-height: 20px;
	font-size: 20px;
}
footer .col1 a:hover, footer .col2 a:hover, footer .col3 a:hover, footer .col4 a:hover {
	color: #ef4036 !important;
}
footer address {
	width: 100%;
	display: block;
	border-top: 1px solid #b3b3b3;
	font-style: normal;
	padding-top: 20px;
}
footer .copyright {
	display: block;
	float: left;
	font-size: 11px;
	line-height: 16px;
}
footer .copyright a {
	color: #0b9444;
	text-decoration: underline;
}
footer .copyright a:hover {
	color: #ef4036 !important;
}
footer .social {
	display: block;
	float: right;
	line-height: 38px;
}
footer .social .fb, .social .tw {
	display: inline-block;
	width: 31px;
	height: 31px;
	-webkit-border-radius: 16px 15px 15px 16px/16px 16px 15px 15px;
	-moz-border-radius: 16px 15px 15px 16px/16px 16px 15px 15px;
	border-radius: 16px 15px 15px 16px/16px 16px 15px 15px;
	border: 1px solid #c6c6c6;
	text-indent: -10000px;
	margin-right: 10px;
}
footer .social .fb {
	background: url(../images/icons/fb_h.gif) no-repeat center;
}
footer .social .tw {
	background: url(../images/icons/tw_h.gif) no-repeat center;
}
footer .social .fb:hover {
	background: url(../images/icons/fb.gif) no-repeat center;
}
footer .social .tw:hover {
	background: url(../images/icons/tw.gif) no-repeat center;
}
/* ~~ Miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty block element as the final element following the last floated block (within the .container) if the footer is removed or taken out of the .container */
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0px;
}
/*HTML 5 support - Sets new HTML 5 tags to display:block so browsers know how to render the tags properly. */
header, section, footer, nav, aside, article, figure, section {
	display: block;
}
@-moz-document url-prefix() {
	select {
		overflow:hidden;
		width: 112% !important;
		-moz-appearance: none !important;
	}
	nav {
		z-index:2;
	}
	#slider {
		position:absolute;
		left:0;
		top:5px;
		z-index:1
	}
	.theme-default .nivo-controlNav {
		position:absolute;
		width:100%;
		top:390px;
	}
	select:focus, input:focus {
		outline:none;
	}
	#plevel {
		width:170px !important;
	}
}

@media \0screen {
	#quick_links .welcome .quick {
		float:right;
		margin-top:0px !important;
	}
	.welcome .icon {
		margin-left: 20px !important;
	}
	.welcome .dashboard {
		margin-left:100px !important;
	}
	nav ul a, nav ul a:visited {
		font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
		font-size:18px;
	}
	.search_box #search {
		background-color: #F03;
	}
}