@charset "utf-8";
/* CSS Document */
          
h1 {
	font-size: 3em;
	margin: 20px 0;
}
.containerr {
	width: 608px;
	margin: 10px auto;
}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: none;
	border-left: none;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0 2px;
	padding: 0;
	height: 31px;
	line-height: 21px;
	border: none;
	border-left: none;
	margin-bottom: -1px;
	font-size: 12px;
	background: none;
	overflow: hidden;
	position: relative;
	background: #0b9444;
	cursor: pointer;
	border-radius: 5px 5px 0px 0px;
}
ul.tabs li .tabs1_1 {
	border: 1px solid #ceeada;
	margin: 5px;
	border-radius: 5px 5px 0px 0px;
}
ul.tabs li .tabs1_1 .tabs1_2 {
	border-radius: 5px 5px 0px 0px;
	border: 1px solid #FFF;
	border-bottom:0;
	margin: 2px;
}
ul.tabs li a {
	text-decoration: none;
	color: #fff;
	display: block;
	margin: 0px 5px;
	font-size: 1.2em;
	padding: 0 20px;
	border-radius: 5px 5px 0px 0px;
	border: none;
	outline: none;
}
html ul.tabs li.active, html ul.tabs li:hover {
	background: red;
	border-bottom: 1px solid #fff;
}
.tab_container {
	border: 1px solid #0b9444;
	clear: both;
	float: left;
	width: 100%;
	margin-top:-1px;
	background: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 12px;
}
.tab_content h3 a {
	color: #254588;
}
.tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	border: 1px solid #ddd;
	padding: 5px;
}
.tab_content b {
	font-size: 12px;
	color: #0b9444;
	text-align: center;
	line-height: 28px;
	background: none;
	font-family: Arial, Helvetica, sans-serif;
}
.tab_content .search {
	border: 1px solid #a0a0a0;
	border-radius: 2px;
	margin: 0 0 0 80px;
}
.tab_content .content-text {
	border: 1px solid #a0a0a0;
	border-radius: 2px;
	width: 400px;
	height: 130px;
	margin: 10px 0px 0 80px;
}
.tab_content .submit {
	width: 100px;
	height: 30px;
	margin: 20px;
	background: #0b9444;
	border: none;
	color: #fff;
	font-size:12px;
	text-transform: uppercase;
	border-radius: 5px;
	cursor: pointer;
	float: right;
}