@charset "utf-8";
/* CSS Document */
.user_nav {
	position:absolute;
	right:0px;
	bottom:20px;
}
.user_nav ul {
	text-align: center;
}

.user_nav ul li {
	font-size: 13px;
	cursor: pointer;
	-webkit-transition: padding .05s linear;
	-moz-transition: padding .05s linear;
	-ms-transition: padding .05s linear;
	-o-transition: padding .05s linear;
	transition: padding .05s linear;
}
.user_nav ul li.drop {
	position: relative;
}
.user_nav ul > li {
	display: inline-block;
}
.user_nav ul li a {
	padding: 0 10px;
	color: #333;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}
.user_nav ul li a:hover {
	color: #888 !important;
}

.user_nav .dropOut .triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #666;
	top: -8px;
	left: 50%;
	margin-left: -8px;
}
.user_nav .dropdownContain {
	width: 160px;
	position: absolute;
	z-index: 10;
	left: 50%;
	margin-left: -80px; /* half of width */
	top: 20px !important;
}
.user_nav .dropOut {
	width: 160px;
	background: #666;
	float: left;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

.user_nav .dropOut ul {
	float: left;
	padding: 10px 0;
}
.user_nav .dropOut ul li {
	text-align: left;
	float: left;
	width: 125px;
	padding: 12px 0 10px 15px;
	margin: 0px 10px;
	color: #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background .1s ease-out;
	-moz-transition: background .1s ease-out;
	-ms-transition: background .1s ease-out;
	-o-transition: background .1s ease-out;
	transition: background .1s ease-out;
}

.user_nav .dropOut ul li:hover {
	background: #333;
}
.user_nav .dropOut ul li a {
	color: #ccc !important;
}

.user_nav ul li:hover a { color: #888; }
.user_nav ul li:hover .dropdownContain { top: 65px; }
.user_nav ul li:hover .underline { border-bottom-color: #777; }
.user_nav ul li:hover .dropOut { opacity: 1; margin-top: 8px; }